
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }
.msgError{
  color:#AD5E5C;
  font-size:1.2em;
  font-family: 'helvetica', Georgia, arial, sans-serif;
  font-weight:bold;
}
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent; }
table th,
table td {
  padding: .5em;
  vertical-align: top;
  border-top: 1px solid #8c9bab;
  font-size: 0.875em;
  line-height: 1.5;
  text-align: left; }
table th {
  font-weight: bold; }
table thead th {
  background-color:#DBEEFF;
  vertical-align: bottom; }
table thead td {
  background-color:#DBEEFF;
}
table thead {
  background-color:#DBEEFF;
}
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td {
  border-top: 0; }
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0; }
table tbody {
  overflow: auto;
}

table tbody + tbody {
  border-top: 2px solid #8c9bab; }

.table-condensed th,
.table-condensed td {
  padding: .25em .3125em; }

.table-bordered {
  border: 1px solid #8c9bab;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed; }
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #8c9bab; }
.table-bordered thead:first-child tr:first-child th {
  border-top: 0; }
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0; }

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #c7ced6; }
.tbl_container{ overflow:auto; width: 100%;height: 100%; }
.node {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}