target/
*.iml
*.DS_store
.idea
*~
data
ols-loader/src/test/resources/tmp
ols-solr/src/main/resources/solr-conf/ontology/data
ols-mongo/src/main/resources/mongodb
ols-web/src/main/resources/static/documents/*
properties