
#diachron-wrapper{
  margin-top:25px;
  width:99%;
}

#diachron-tab{
overflow-x: hidden;
}

#datepicker{
  margin-top:10px;
  font-family: Verdana,sans-serif;
}

#LegendBody table{
  border: 0px solid;
}

#testTable{
    border: 0px solid   !important;
}


.highcharts-title{
    font-family: 'HelveticaNeueLT Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
  }

.dataTableHeadline{
  font-family: 'HelveticaNeueLT Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
  text-align:center;
}


.link {
    cursor: default;
}


.link:hover{
    cursor: pointer;
}
