<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Plato Widget Demo</title>
    <link href="../static/css/autocomplete-widget-styles.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h1>Plato ontology widget demo</h1>

    <div style="position: relative; height: 80px;">
        <input type="text" name="ontology term" id="autocomplete-ajax" style="position: absolute; z-index: 2; background: transparent;"/>
        <input type="text" name="country" id="autocomplete-ajax-x" disabled="disabled" style="color: #CCC; position: absolute; background: transparent; z-index: 1;"/>
    </div>
    <div id="selection-ajax"></div>


    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="../static/js/plato-suggest.js"></script>

</div>
</body>
</html>
