<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- put your appenders -->
     <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
     <!-- encoders are assigned the type
      ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{ISO8601} %p %t %c{0}.%M - %m%n</pattern>
            <charset>utf8</charset>
         </encoder>
     </appender>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <!--<include resource="org/springframework/boot/logging/logback/file-appender.xml"/>-->

    <logger name="uk.ac.ebi.spot" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
        <!--<appender-ref ref="FILE" />-->
    </root>

</configuration>