<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"/> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"/> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"/> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html  xmlns:th="https://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->


<head>
    <div th:replace="fragments/head :: head(olscss=true, datatables=true)"></div>
    <title id="pageTitle" th:inline="text">[[${ontologyTitle}]] &lt; [[${title}]] &lt; [[${org}]]</title>
    <!-- A few keywords that relate to the content of THIS PAGE (not the whole project)
    <meta name="keywords" content="biosamples, europe, EBI" />
    <!- - Describe what this page is about - ->
    <meta name="description" content="EMBL-EBI" />
    <meta name="ebi:last-review" content="2016-12-20" />
    <!- - The last time the content was reviewed - ->
    <meta name="ebi:expiry" content="2017-12-20" />
    <!- - When this content is no longer relevant -->
</head>


<body>
<th:block th:include="fragments/header :: header"></th:block>

<section id="main-content-area" role="main">
    <div class="row" th:if="${#lists.isEmpty(allindividuals)}"><h2 th:text="'No individuals found in ' + ${ontologyPrefix}" class="strapline">No individuals found in X</h2></div>
    <div class="row" th:unless="${#lists.isEmpty(allindividuals)}">

        <h2 th:text="'All individuals in ' + ${ontologyPrefix}" class="strapline">List of all individuals in X</h2>

        <div>



            <div class="small-6 columns">
                <nav class="bottom-nav">

                    <ul style="text-align: left;" class="menu">
                        <li th:if="${pageable.hasPrevious()}" id="prev-button" >
                            <a class="pagingButton" rel="prev" href="#" th:href="@{individuals (page=${pageable.getPageNumber()} - 1)}" >Previous</a>
                        </li>
                        <li th:unless="${pageable.hasPrevious()}" class="paginButton" id="prev-button" >
                            <a href="#" >Previous</a>
                        </li>

                                    <span class="search-results-count">Showing
                                        <span th:unless="${pageable.hasPrevious()}" id="start-display">1</span>
                                        <span th:if="${pageable.hasPrevious()}" id="start-display" th:text="${pageable.getOffset()}">1</span>
                                        to  <span id="end-display" th:text="${pageable.getOffset()} + ${pageable.getPageSize()}">10</span> of <span id="total-display" th:text="${allindividualssize}">0</span> results</span>

                        <li th:if=" (${pageable.getOffset()} + ${pageable.getPageSize()}) gt ${allindividualssize}" class="btn-group disabled" id="next-button" >
                            <a class="pagingButton" href="#" >Next</a>
                        </li>
                        <li th:if=" (${pageable.getOffset()} + ${pageable.getPageSize()}) lt ${allindividualssize}" class="btn-group" id="next-button" >
                            <a class="pagingButton" rel="next" href="#" th:href="@{individuals (page=${pageable.next().getPageNumber()})}" >Next</a>
                        </li>
                    </ul>

                </nav>
            </div>


            <div style="float:right;" class="small-6 columns">
                <form id="filter_form" name="local-search" action="../../search" method="get">
                    <div id="bloodhound" class="input-group">
                        <input style="margin-bottom: 0.1em;" class="form-control typeahead" autofocus="autofocus" type="text" name="q" data-olswidget="select" th:placeholder="'Search ' + ${ontologyPrefix}" th:attr="data-olsontology=${ontologyName}" data-olsontology=""  data-selectpath="../../"
                                    th:placeholder="'Search ' + ${shortTitle}" aria-describedby="basic-addon1"/>

                        <input type="hidden" name="ontology" th:value="${ontologyName}"/>
                                            <span class="input-group-btn">
                                              <button class="button secondary searchButton glyphicon glyphicon-search" type="submit">Search</button>
                                            </span>
                    </div><!-- /input-group -->
                </form>
            </div>

        </div>

        <div style="padding: 9px;">

            <table data-toggle="table" data-search="false" data-locale="en-US" class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th data-width="40%" style="width: 50%;" data-sortable="true">Label</th>
                    <th data-sortable="true">Id</th>
                    <th data-sortable="true">Description</th>
                </tr>
                </thead>
                <tbody>
                <!--@thymesVar id="individual" type="uk.ac.ebi.spot.ols.neo4j.model.Individual"-->
                <tr th:each="individual : ${allindividuals}">

                    <td>
                        <a th:text="${individual.getLabel()}" th:href="@{individuals (iri=${individual.getIri()})}"></a>
                    </td>

                    <td th:text="${individual.getShortForm()}">0</td>
                    <td th:text="${individual.getDescription()}">0</td>
                </tr>
                </tbody>
            </table>

        </div>


    </div>
</section>

<th:block th:include="fragments/footer :: footer"></th:block>

<script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>

</body>
</html>