<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"/> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"/> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"/> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html  xmlns:th="https://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->


<head>
    <div th:replace="fragments/head :: head"></div>
    <title id="pageTitle" th:inline="text">[[${title}]] &lt; [[${org}]]</title>
    <!-- A few keywords that relate to the content of THIS PAGE (not the whole project)
    <meta name="keywords" content="biosamples, europe, EBI" />
    <!- - Describe what this page is about - ->
    <meta name="description" content="EMBL-EBI" />
    <meta name="ebi:last-review" content="2016-12-20" />
    <!- - The last time the content was reviewed - ->
    <meta name="ebi:expiry" content="2017-12-20" />
    <!- - When this content is no longer relevant -->
</head>


<body>
<th:block th:include="fragments/header :: header"></th:block>

<section id="main-content-area" role="main">
<div class="row">
    <h2 class="strapline" th:text="${title}">Ontology Lookup Service</h2>
    <p class="alert-info bootstrap-alert error" th:inline="text">
        [[${errorMessage}]]
    </p>
    <p th:if="${timestamp}" id='created'>
        <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
    </p>
    <p th:if="${status}">
        <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
            th:if="${error}" th:text="'('+${error}+')'">error ...</span>
    </p>

    <div th:if="${ex} or ${exception} or (${message} and ${message.length() != 0})">
        <p>
            <b>Cause:</b>
            <span th:if="${message} and ${message.length() != 0} and ${status != 500}"
                  th:text="${message}">message ...</span>
            <span th:if="${status == 500}">A server error occurred.</span>
        </p>
    </div>

    <p th:unless="${ex} or ${exception} or (${message} and ${message.length() != 0})">
        Cause unknown (no exception details available)</p>
</div>
</section>
<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>