<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"/> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"/> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"/> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html  xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
         More info: h5bp.com/b/378 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> --> <!-- Not yet implemented -->

    <title>Home &lt; Ontology Lookup Service &lt; EMBL-EBI</title>
    <meta name="description" content="EMBL-EBI Ontology Lookup Service is a repository of bio-medical ontologies and provides a powerful REST API for searching and accessing ontology term information"/><!-- Describe what this page is about -->
    <meta name="keywords" content="ontology, ontologies, bioinformatics, europe, institute"/><!-- A few keywords that relate to the content of THIS PAGE (not the whol project) -->
    <meta name="author" content="Samples Phenotypes and Ontologies Team, EMBL-EBI"/><!-- Your [project-name] here -->

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

    <link rel="stylesheet" href="../static/css/bootstrap/3.3/css/bootstrap.min.css" th:href="@{css/bootstrap/3.3/css/bootstrap.min.css}" type="text/css" media="screen"/>

    <!-- CSS: implied media=all -->
    <!-- CSS concatenated and minified via ant build script-->
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/boilerplate-style.css"/>
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/ebi-global.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/ebi-visual.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/984-24-col-fluid.css" type="text/css" media="screen"/>

    <!-- you can replace this with [projectname]-colours.css. See http://frontier.ebi.ac.uk/web/style/colour for details of how to do this -->
    <!-- also inform ES so we can host your colour palette file -->
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/embl-petrol-colours.css" type="text/css" media="screen"/>

    <link rel="stylesheet" href="../static/css/ols.css" th:href="@{css/ols.css}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../static/css/ols-colors.css" th:href="@{css/ols-colors.css}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../static/css/typeahead/typeaheadjs.css" th:href="@{css/typeahead/typeaheadjs.css}" type="text/css" media="screen"/>

    <!-- for production the above can be replaced with -->
    <!--
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/mini/ebi-fluid-embl.css">
    -->
    <!-- Bootstrap table css -->
    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css"/>-->

    <style type="text/css">
        /* You have the option of setting a maximum width for your page, and making sure everything is centered */
        /* body { max-width: 1600px; margin: 0 auto; } */
    </style>


    <!-- end CSS-->



    <!-- All JavaScript at the bottom, except for Modernizr / Respond.
         Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
         For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->

    <!-- Full build -->
    <!-- <script src="//www.ebi.ac.uk/web_guidelines/js/libs/modernizr.minified.2.1.6.js"></script> -->

    <!-- custom build (lacks most of the "advanced" HTML5 support -->
    <script src="//www.ebi.ac.uk/web_guidelines/js/libs/modernizr.custom.49274.js"></script>

</head>

<body class="level2">

<div id="skip-to">
    <ul>
        <li><a href="#content">Skip to main content</a></li>
        <li><a href="#local-nav">Skip to local navigation</a></li>
        <li><a href="#global-nav">Skip to EBI global navigation menu</a></li>
        <li><a href="#global-nav-expanded">Skip to expanded EBI global navigation menu (includes all sub-sections)</a></li>
    </ul>
</div>

<div id="wrapper" class="container_24">

    <header>

        <div id="global-masthead" class="masthead grid_24">

            <!--This has to be one line and no newline characters-->
            <a href="//www.ebi.ac.uk/" title="Go to the EMBL-EBI homepage"><img src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_white.png" alt="EMBL European Bioinformatics Institute"/></a>

            <nav>
                <ul id="global-nav">
                    <!-- set active class as appropriate -->
                    <li id="services" class=" first active"><a href="//www.ebi.ac.uk/services" title="Services">Services</a></li>
                    <li id="research" class=""><a href="//www.ebi.ac.uk/research" title="Research">Research</a></li>
                    <li id="training" class=""><a href="//www.ebi.ac.uk/training" title="Training">Training</a></li>
                    <li id="industry" class=""><a href="//www.ebi.ac.uk/industry" title="Industry">Industry</a></li>
                    <li id="about" class=" last"><a href="//www.ebi.ac.uk/about" title="About us">About us</a></li>
                </ul>
            </nav>

        </div>

        <div id="local-masthead" class="masthead grid_24 nomenu">

            <!-- local-title -->
            <!-- NB: for additional title style patterns, see http://frontier.ebi.ac.uk/web/style/patterns -->

            <div id="local-title" class="alpha logo-title">
                <a href="index" title="Back to OLS homepage">
                    <img style="width: 80px" th:src="@{img/ols-logo.jpg}" src="../static/img/ols-logo.jpg" alt="OLS logo"/></a>
                <span><h1>Ontology Lookup Service</h1></span>
            </div>

            <!-- /local-title -->

            <!-- fix to remove search box -->
            <div style="visibility: hidden">
                <form id="local-search">
                </form>
            </div>
            <!-- -->


            <nav>
                <ul class="grid_24" id="local-nav">
                    <li class="first active"><a href="index">Home</a></li>
                    <li><a href="ontologies">Ontologies</a></li>
                    <li><a href="docs">Documentation</a></li>
                    <li class="last" ><a href="about">About</a></li>
                    <li class="functional last"><a href="contact" class="icon icon-generic" data-icon="C">Contact Us</a></li>
                </ul>
            </nav>
        </div>


    </header>

    <div id="content" role="main" class="grid_24 clearfix">
        <div class="container">

            <!--@thymesVar id="summary" type="uk.ac.ebi.spot.ols.controller.ui.HomeController.SummaryInfo"-->
            <div class="grid_24 alpha">




                <section class="grid_19">

                    <div class="jumbotron">
                        <!--<h1>Welcome to the OLS</h1>-->
                        <!--<p>Use OLS to search and visualise biomedical ontologies</p>-->
                        <h4>Welcome to the EMBL-EBI Ontology Lookup Service.</h4>
                        <div>
                            <form name="local-search" action="search" method="get">
                                <div id="bloodhound" class="input-group">
                                    <input style="margin-bottom: 0.1em;" class="form-control typeahead" autofocus="autofocus" type="text" name="q" data-olswidget="multisearch" data-olsontology=""  placeholder="Search OLS..." aria-describedby="basic-addon1"/>

                                    <span class="input-group-btn">
                                      <button class="btn btn-default glyphicon glyphicon-search" type="submit">
                                      </button>
                                    </span>
                                </div><!-- /input-group -->
                                <span class="examples">Examples: <a class="nounderline" href="search?q=diabetes">diabetes</a>,
                                     <a class="nounderline" href="search?q=GO:0098743">GO:0098743</a>
                                 </span>
                                <br/>
                                <span style="float: right;" class="examples"><a class="nounderline" href="ontologies">Looking for a particular ontology?</a>
                                 </span>
                            </form>

                        </div><!-- /.col-lg-6 -->

                    </div>

                    <div th:if="${start}" style="font-size: larger;" class="bootstrap-alert alert-info">
                        <span class="icon icon-generic" data-icon="alert">Maintenance</span>


                        <ul>
                            <li>
                                OLS is due for maintenance and will be unavailable between <span th:text="${start}"/> and <span th:text="${end}"/>. Apologies for any inconvenience.
                            </li>
                            <li th:if="${message}" th:text="${message}">

                            </li>
                        </ul>

                    </div>

                    <section>
                        <div class="main_bottom_hlight">
                            <div class="main_bottom_hlight">

                                <div class="grid_8 alpha">
                                    <div class="bloc_left">
                                        <h3 style="color: #BF8230;" class="icon icon-functional" data-icon="b">
                                            <a href="docs/about">About OLS</a></h3>
                                        <p class="about">
                                            The Ontology Lookup Service (OLS) is a repository for biomedical ontologies that aims to provide a single point of access to the latest ontology versions. You can browse the ontologies through the website as well as programmatically via the OLS API. OLS is developed and maintained by the <a href="http://www.ebi.ac.uk/about/spot-team">Samples, Phenotypes and Ontologies Team</a> (SPOT) at EMBL-EBI.
                                        </p>
                                    </div>
                                </div>

                                <div class="grid_8">
                                    <div class="bloc">
                                        <h3 style="color: #BF8230;" class="icon icon-functional" data-icon="t">Related Tools</h3>
                                        <p class="about">
                                            In addition to OLS the SPOT team also provides the OxO, Zooma and Webulous services.  <a href="//www.ebi.ac.uk/spot/oxo">OxO</a> provides cross-ontology mappings between terms from different ontologies. <a href="//www.ebi.ac.uk/spot/zooma">Zooma</a> is a service to assist in mapping data to ontologies in OLS and <a href="//www.ebi.ac.uk/spot/webulous">Webulous</a> is a tool for building ontologies from spreadsheets.
                                        </p>
                                    </div>
                                </div>

                                <div class="grid_8 omega">
                                    <div class="bloc_right">
                                        <h3 style="color: #BF8230;" class="icon icon-generic" data-icon="C">
                                            <a href="contact">Contact Us</a></h3>
                                        <p class="about">
                                            For feedback, enquiries or suggestion about OLS or to request a new ontology please contact ols-support @ ebi.ac.uk.
                                            For bugs or problems with the code or API please report on <a href="https://github.com/EBISPOT/OLS/issues">GitHub issue</a>
                                            For announcements relating to OLS, such as new releases and new features sign up to the <a href="https://listserver.ebi.ac.uk/mailman/listinfo/ols-announce">OLS announce mailing list</a>

                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>

                    <!--<div style="font-size: larger;" class="bootstrap-info alert-info">-->
                    <!--<span class="icon icon-generic" data-icon="N">News</span>-->


                    <!--<ul>-->
                    <!--<li>-->
                    <!--<span style="text-decoration: line-through">May 4th, 2016</span>  - New OLS website released! For information about the old site and migrating to the new please see <a href="roadmap.html">here</a>-->
                    <!--</li>-->
                    <!--</ul>-->

                    <!--&lt;!&ndash;This is a beta site under active development, the full release date is curently scheduled for April 18th. Please see the <a href="roadmap.html">OLS roadmap</a> for our development timelines. Sign up for updates on the <a href="https://listserver.ebi.ac.uk/mailman/listinfo/ols-announce">ols-announce</a> mailing list of contact the <a href="contact">support desk</a> with any feedback or suggestions.&ndash;&gt;-->
                    <!--</div>-->

                </section>
                <aside class="grid_5 omega">
                    <h3 class="icon icon-generic" data-icon="g">Data Content</h3>
                    <h5>Updated <span th:text="${#calendars.format(summary.getLastUpdated(), 'dd MMM yyyy HH:mm')}">Today at 07:00</span></h5>
                    <ul>
                        <li><span th:text="${summary.getNumberOfOntologies()}">102</span> ontologies</li>
                        <li th:if="${summary.getNumberOfTerms() &gt; 0}"><span th:text="${#numbers.formatInteger(summary.getNumberOfTerms(),3,'COMMA')}">102</span> terms</li>
                        <li th:if="${summary.getNumberOfProperties() &gt; 0}"><span th:text="${#numbers.formatInteger(summary.getNumberOfProperties(),3,'COMMA')}">102</span> properties</li>
                        <li th:if="${summary.getNumberOfIndividuals() &gt; 0}"><span th:text="${#numbers.formatInteger(summary.getNumberOfIndividuals(),3,'COMMA')}">102</span> individuals</li>
                        <li th:if="${summary.getSoftwareVersion() != null}">Version <span th:text="${summary.getSoftwareVersion()}">102</span></li>
                    </ul>

                    <a class="twitter-timeline" data-height="600" href="https://twitter.com/EBIOLS">Tweets by OLS</a> <script async="async" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

                </aside>

            </div>



        </div>
    </div>

    <footer>
        <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
        <div id="elixir-banner" data-color="grey" data-name="The Ontology Lookup Service" data-description="OLS is an ELIXIR interoperability service" data-more-information-link="//www.elixir-europe.org/platforms/interoperability" data-use-basic-styles="true"></div>
        <script src="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/elixirBanner.js"></script>


        <!-- End optional local footer -->

        <div id="global-footer" class="grid_24 clearfix">


            <nav id="global-nav-expanded">

                <div class="grid_4 alpha">
                    <h3 class="embl-ebi"><a href="//www.ebi.ac.uk/" title="EMBL-EBI">EMBL-EBI</a></h3>
                </div>

                <div class="grid_4">
                    <h3 class="services"><a href="//www.ebi.ac.uk/services">Services</a></h3>
                </div>

                <div class="grid_4">
                    <h3 class="research"><a href="//www.ebi.ac.uk/research">Research</a></h3>
                </div>

                <div class="grid_4">
                    <h3 class="training"><a href="//www.ebi.ac.uk/training">Training</a></h3>
                </div>

                <div class="grid_4">
                    <h3 class="industry"><a href="//www.ebi.ac.uk/industry">Industry</a></h3>
                </div>

                <div class="grid_4 omega">
                    <h3 class="about"><a href="//www.ebi.ac.uk/about">About us</a></h3>
                </div>

            </nav>

            <section id="ebi-footer-meta">
                <p class="address">EMBL-EBI, Wellcome Trust Genome Campus, Hinxton, Cambridgeshire, CB10 1SD, UK &nbsp; &nbsp; +44 (0)1223 49 44 44</p>
                <p class="legal">Copyright &copy; EMBL-EBI 2013 | EBI is an outstation of the <a href="http://www.embl.org">European Molecular Biology Laboratory</a> | <a href="/about/privacy">Privacy</a> | <a href="/about/cookies">Cookies</a> | <a href="/about/terms-of-use">Terms of use</a></p>
            </section>

        </div>

    </footer>

</div>

<script type="text/javascript" src="../static/js/jquery/1.11.1/jquery.min.js" th:src="@{js/jquery/1.11.1/jquery.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery.browser.min.js" th:src="@{js/jquery.browser.min.js}"></script>

<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="../static/js/typeahead/typeahead.bundle.js" th:src="@{js/typeahead/typeahead.bundle.js}"></script>
<script type="text/javascript" src="../static/js/handlebars/4.0.5/handlebars.min.js" th:src="@{js/handlebars/4.0.5/handlebars.min.js}"></script>

<script type="text/javascript" src="../static/js/ols.js" th:src="@{js/ols.js}"></script>
<script type="text/javascript" src="../static/js/ols-termselect2.js" th:src="@{js/ols-termselect2.js}"></script>


<!--<script>-->
<!--$(document).ready(function() {-->
<!--$('ontology-table').bootstrapTable(-->
<!--{locale:'en-UK', search: true}-->
<!--);-->
<!--});-->
<!--</script>-->

<script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/cookiebanner.js"></script>
<script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/foot.js"></script>



<script>
    // See https://github.com/gabceb/jquery-browser-plugin for futher details how to use the plugin
    var version;
    var htmlString='';

    //Get the browser version
    version=$.browser.version;
    //Slicing the first part of the number, which represents the version number of the browser
    version=version.slice(0,version.indexOf("."));
    //Parse the string to an int
    version=parseInt(version);

    //IE messages
    if ($.browser.msie === true)
    {
        //Message for people with IE6 or 7
        if (version===7 || version===6) {
            htmlString = htmlString + '<div id="browser_warning"><h3 style="background:red; text-align:center;">Your browser is not up to date. You can NOT use this service with your version!</h3></div>';
            $("#content").prepend(htmlString);
        }

        //Message for people using IE8
        if (version===8)
        {
            htmlString = htmlString + '<div id="browser_warning"><h3 style="background:red; text-align:center;">Your browser is not up to date. You can try to use the service but some things might not work as expected!</h3></div>';
            $("#content").prepend(htmlString);
        }

    }

    //Message for WebKit browsers
    // if ($.browser.webkit === true) {     }

    //Message for mozilla browsers
    //if ($.browser.mozilla === true) {     }

    //Message to all mobile devices trying to use OLS
    //if ($.browser.mobile ===true) {       }
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69391170-1', 'auto');
    ga('send', 'pageview');
    ga('set', 'anonymizeIp', true);

</script>
</body>
</html>