<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"/> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"/> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"/> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html  xmlns:th="https://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->



<head th:replace="fragments/head :: head">
    <title>Ontology Xref Service   &lt; EMBL-EBI</title>
    <!-- A few keywords that relate to the content of THIS PAGE (not the whole project)
    <meta name="keywords" content="biosamples, europe, EBI" />
    <!- - Describe what this page is about - ->
    <meta name="description" content="EMBL-EBI" />
    <meta name="ebi:last-review" content="2016-12-20" />
    <!- - The last time the content was reviewed - ->
    <meta name="ebi:expiry" content="2017-12-20" />
    <!- - When this content is no longer relevant -->
</head>


<body>
<th:block th:include="fragments/header :: header"></th:block>


<section id="main-content-area" role="main">

    <div class="row">

        <div class="small-12 columns">
            <a style="padding: 9px;border-bottom: none;" th:href="@{${ontologyIndividual.getIri()}}" class="nounderline" target="blank"><img th:src="@{../../img/external_link.png}" src="../static/img/external_link.png" alt="^" title="Go to external page"/></a>
            <span property="url" style="font-size: small;color: grey;" th:text="${ontologyIndividual.getIri()}">http://www.example.com/onto/id</span>
        </div>
        <div class="small-12 columns">
            <hr style="margin-left: 9px;"/>
            <div property="description">
                <p th:each="description : ${ontologyIndividual.getDescription()}" th:text="${description}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget <nulla class=""></nulla>                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum.
                </p>
            </div>

            <div th:if="${ontologyIndividual.getSynonyms() !=null}">
                <p><b>Synonyms:</b>
                    <span property="alternateName" style="margin-left:9px;" th:text="${#strings.setJoin(ontologyIndividual.getSynonyms(), ', ')}">NCBI_9606</span>
                </p>

            </div>
        </div>

        <div class="small-8 column">
                <h2 property="name" style="margin: 0px;" th:text="${ontologyIndividual.getLabel()}">Term label</h2>
            </div>
            <div class="small-4 columns">
                <form name="local-search" action="../../search" method="get">
                    <div id="bloodhound" class="input-group">
                        <input style="margin-bottom: 0.1em;" class="form-control typeahead" autofocus="autofocus" type="text" name="q" data-olswidget="select" th:placeholder="'Search ' + ${ontologyIndividual.getOntologyPrefix()}" th:attr="data-olsontology=${ontologyIndividual.getOntologyName()}" data-olsontology=""  data-selectpath="../../" placeholder="Search OLS" aria-describedby="basic-addon1"/>
                        <input type="hidden" name="ontology" th:value="${ontologyIndividual.getOntologyName()}"/>
                        <button class="button secondary searchButton glyphicon glyphicon-search" type="submit">Search</button>

                    </div><!-- /input-group -->
                </form>
            </div>

        <div id="terms-tab-content" class="small-8 columns">
            <ul  class="tabs" data-tabs="true" id="terms_tabs">
                <li class="tabs-title active"><a data-toggle="tab" class="icon icon-functional" data-icon="h" id="tree-tab" href="#tree-tab">Tree view</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tabs-content" data-tabs-content="terms_tabs">

                <div class="tabs-panel is-active" id="tree-tab">
                    <div id="term-tree" data-olswidget="tree" th:attr="data-olsontology=${ontologyIndividual.getOntologyName()},data-ols-iri=${ontologyIndividual.getIri()}" data-selectpath="../../" data-ols-termtype="individual" data-olsontology="" data-ols-iri=""  >
                    </div>
                </div>

                <!--<div role="tabpanel" class="tab-pane" id="graph-tab">-->
                <!--graph goes here-->
                <!--</div>-->
            </div>

        </div>



        <div id="right_info_box" class="small-4 columns">
            <div id="term_info_box" class="panel">
                <div class="panel-heading">
                    <h3>Instance info</h3>
                </div>
                <div class="panel-body">

                    <div th:each="annotations: ${ontologyIndividual.getAnnotation()}">
                        <b>
                            <a href="#" th:href="@{../../search(q=${annotations.key},exact='true', type=property, ontology=${ontologyIndividual.ontologyName})}" th:text="${annotations.key.replaceAll('_', ' ')}">property name</a>
                        </b>
                        <p style="margin-left:9px;" th:text="${#strings.setJoin(annotations.value, ',')}">NCBI_9606</p>
                    </div>

                </div>
            </div>



            <div id="term_relation_box" class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Instance relations</h3>
                </div>
                <div class="panel-body">

                    <div th:if="${indvidualTypes != null}">
                        <b>Types</b>
                        <br/>
                        <div th:each="type : ${indvidualTypes}">
                            <a href="#" th:href="@{terms (iri=${type.getIri()})}" th:text="${type.getLabel()}">parent 1</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</section>
<th:block th:include="fragments/footer :: footer"></th:block>


</body>
</html>