<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"/> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"/> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"/> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html  xmlns:th="https://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->



<head th:replace="fragments/head :: head">
    <title>Ontology Xref Service   &lt; EMBL-EBI</title>
    <!-- A few keywords that relate to the content of THIS PAGE (not the whole project)
    <meta name="keywords" content="biosamples, europe, EBI" />
    <!- - Describe what this page is about - ->
    <meta name="description" content="EMBL-EBI" />
    <meta name="ebi:last-review" content="2016-12-20" />
    <!- - The last time the content was reviewed - ->
    <meta name="ebi:expiry" content="2017-12-20" />
    <!- - When this content is no longer relevant -->
</head>


<!-- Place css that is need after head, because the head gets replaced, could potentially put this into the header if we don't mind loading it all the time -->
<link rel="stylesheet" href="/js/jstree/themes/proton/style.min.css" th:href="@{/js/jstree/themes/proton/style.min.css}" type="text/css" media="screen" />
<link rel="stylesheet" href="../static/css/diachron/pikaday.css" th:href="@{../css/diachron/pikaday.css}" type="text/css" media="screen"/>
<link rel="stylesheet" href="../static/css/diachron/widget.css" th:href="@{../../css/diachron/widget.css}" type="text/css" media="screen"/>
<link rel="stylesheet" href="../static/css/typeahead/typeaheadjs.css" th:href="@{/css/typeahead/typeaheadjs.css}" type="text/css" media="screen"/>

<!-- TABLE css
<link rel="stylesheet" href="../static/css/diachron/tablesort-blue/style.css" th:href="@{../css/diachron/tablesort-blue/style.css}" type="text/css" media="screen"/>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css"/>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>-->

<!-- Also needed?
<link rel="stylesheet" href="../static/css/bootstrap/3.3/css/bootstrap.min.css" th:href="@{../css/bootstrap/3.3/css/bootstrap.min.css}" type="text/css" media="screen"/>-->



<body>
<th:block th:include="fragments/header :: header"></th:block>


<div id="main-content-area" role="main">
    <div vocab="http://schema.org/" class="row">

        <div id="mainpageSearchBox">
            <h3 style="font-size: 43px;" property="name" th:text="${ontologyDocument.getConfig().getTitle()}">Ontology label</h3>
            <div property="description">
                <p style="font-size: 16px;" th:each="description : ${ontologyDocument.getConfig().getDescription()}" th:text="${description}">
                </p>
            </div>

            <form style="padding-left: 0;" name="local-search" action="../search" method="get">
                <div id="bloodhound" class="">
                    <input style="margin-bottom: 0.1em; display:block; width:393px" class="form-control typeahead" autofocus="autofocus" type="text" name="q" data-olswidget="select" th:attr="data-olsontology=${ontologyDocument.getOntologyId()}" data-olsontology=""  data-selectpath="../" th:placeholder="'Search ' + ${ontologyDocument.getConfig().getPreferredPrefix()}" placeholder="Search OLS" aria-describedby="basic-addon1"/>
                    <button class="button secondary searchButton glyphicon glyphicon-search" type="submit">Search!</button>
                    <input type="hidden" name="ontology" th:value="${ontologyDocument.getOntologyId()}"/>
                </div>
            </form>


            <p>
            <div class="btn-group">
                <button class ="button secondary icon icon-functional" role="button" data-icon ="b" th:onclick="'javascript:goTo(\'' + @{__${ontologyDocument.getOntologyId()}__/terms} + '\')'"> Terms</button>
                <button class ="button secondary icon icon-functional" role="button" data-icon ="=" th:onclick="'javascript:goTo(\'' + @{__${ontologyDocument.getOntologyId()}__/download} + '\')'"> Download</button>
                <button th:if="${ontologyDocument.getConfig().getHomepage() != null}" class ="button secondary icon icon-generic"  th:title="${ontologyDocument.getConfig().getHomepage()}" role="button" data-icon ="H"  th:onclick="'javascript:goTo(\'' + @{${ontologyDocument.getConfig().getHomepage()}} + '\')'"> Ontology Homepage</button>
                <button th:if="${contact != null}" class ="button secondary icon icon-generic"  role="button" data-icon ="C" th:title="${contact}" th:onclick="'javascript:goTo(\'' + @{${contact}} + '\')'"> Contact</button>
            </div>
            </p>

        </div>


        <div id="onto-tab-content" class="small-8 columns">
            <ul class="tabs" data-tabs="true" id="onto_tabs">
                <li class="tabs-title is-active"><a id="tree-link" class="icon icon-functional" data-icon="h" data-tabs-target="tree-tab" href="#tree-tab" aria-selected="true"> Browse Terms</a></li>
                <li class="tabs-title"><a id="property-link" class="icon icon-functional" data-icon="h"  data-tabs-target="property-tree-tab" href="#property-tree-tab"> Browse Properties</a></li>
                <li class="tabs-title"><a id="diachron-link" class="icon icon-generic" data-icon="g" data-tabs-target="diachron-tab" href="#diachron-tab"> Ontology history</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tabs-content" data-tabs-content="onto_tabs">
                <div class="tabs-panel is-active" id="tree-tab">
                    <div id="term-tree" data-olswidget="tree" th:attr="data-olsontology=${ontologyDocument.getOntologyId()}" data-selectpath="../" data-ols-termtype="class" data-olsontology="" data-ols-iri=""  >
                    </div>

                </div>

                <div class="tabs-panel" id="property-tree-tab">
                    <div id="property-tree" data-olswidget="tree" th:attr="data-olsontology=${ontologyDocument.getOntologyId()}" data-selectpath="../" data-ols-termtype="property" data-olsontology="" data-ols-iri=""  >
                    </div>

                </div>

                <div class="tabs-panel" id="diachron-tab" data-selectpath="../" th:attr="data-olsontology=${ontologyDocument.getOntologyId()}">
                    <div id="diachron-wrapper"></div>
                </div>
            </div>

        </div>

        <div id="right_info_box" class="small-4 columns">
            <div id="ontology_info_box" class="panel">
                <div class="panel-heading">
                    <h3>Ontology info</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <b>Ontology IRI: </b> <a property="url" target="blank" class="icon icon-generic" data-icon="L" th:href="@{${ontologyDocument.getConfig().getId()}}" th:text="${ontologyDocument.getConfig().getId()}">http://www.example.com/onto/id</a>
                    </div>
                    <div th:if="${ontologyDocument.getConfig().getVersionIri()}">
                        <b>Version IRI: </b> <a property="url" target="blank" class="icon icon-generic" data-icon="L" th:href="@{${ontologyDocument.getConfig().getVersionIri()}}" th:text="${ontologyDocument.getConfig().getVersionIri()}">http://www.example.com/onto/id</a>
                    </div>
                    <div>
                        <b>Ontology id: </b> <span th:text="${ontologyDocument.getOntologyId()}" >ontology id</span>
                    </div>
                    <div th:if="${ontologyDocument.getConfig().getVersion() != null}">
                        <b>Version: </b> <span th:text="${ontologyDocument.getConfig().getVersion()}">NCBI:9606</span>
                    </div>
                    <div>
                        <b>Number of terms: </b> <span th:text="${ontologyDocument.getNumberOfTerms()}">NCBI_9606</span>
                    </div>
                    <div>
                        <b>Last loaded: </b> <span property="dateModified" th:text="${ontologyDocument.getLoaded()}">NCBI_9606</span>
                    </div>
                    <div th:each="creator : ${ontologyDocument.getConfig().getCreators()}">
                        <b>Creator: </b> <span th:text="${creator}">NCBI:9606</span>
                    </div>

                    <br/>
                    <div th:each="annotations: ${ontologyDocument.getConfig().getAnnotations()}">
                        <b>
                            <a href="#" th:href="@{../search(q=${annotations.key},exact='true', type=property, ontology=${ontologyDocument.getOntologyId()})}" th:text="${annotations.key.replaceAll('_', ' ')}">property name</a>
                        </b>
                        <p style="margin-left:9px;" th:each="annovalue : ${annotations.value}" th:text="${annovalue}">NCBI_9606</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<th:block th:include="fragments/footer :: footer"></th:block>




<!-- <script type="text/javascript" src="/js/oxo.js" th:src="@{/js/oxo.js}"></script> -->
<script type="text/javascript" src="https://cdn.datatables.net/r/zf-5.5.2/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
<script type="text/javascript" src="../static/js/typeahead/typeahead.bundle.js" th:src="@{../js/typeahead/typeahead.bundle.js}"></script>
<script type="text/javascript" src="../static/js/handlebars/4.0.5/handlebars.min.js" th:src="@{../js/handlebars/4.0.5/handlebars.min.js}"></script>


<!-- Include tags for the new CHARTS we have for the DIACHRON part of the ontology view-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
<script src="../static/js/diachron/underscore-min.js" th:src="@{../js/diachron/underscore-min.js}"></script>
<script src="../static/js/diachron/changeSummary.js" th:src="@{../js/diachron/changeSummary.js}"></script>
<script src="../static/js/diachron/moment.js" th:src="@{../js/diachron/moment.js}"></script>
<script src="../static/js/diachron/pikaday.js" th:src="@{../js/diachron/pikaday.js}"></script>
<script src="../static/js/diachron/tablesorter.min.js" th:src="@{../js/diachron/tablesorter.min.js}"></script>


<!--
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/locale/bootstrap-table-en-US.min.js"></script>
<script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>-->




<!-- END OF THE DIACHRON INCLUDE TAGS-->
<script type="text/javascript" src="../static/js/ols.js" th:src="@{../js/ols.js}"></script>
<script type="text/javascript" src="../static/js/ols-termselect.js" th:src="@{../js/ols-termselect2.js}"></script>
<script src="../static/js/jstree/jstree.min.js" th:src="@{../js/jstree/jstree.min.js}"></script>
<script type="text/javascript" src="../static/js/ols-treeview.min.js" th:src="@{../js/ols-treeview.min.js}"></script>


<!-- All JS that is just used on this page should go here, I suppose-->
<script>
    $(document).ready(function() {

        //Processing mansyntax (?)
        $('.mansyntax').each(function ()
        {
            var href = $(this).attr("href");
            if ($(this).hasClass('ObjectProperty')) {
                $(this).attr("href", getUrlType('property') + '?iri=' + encodeURIComponent(href));
            }
            else if ($(this).hasClass('Class')) {
                $(this).attr("href", getUrlType('class') + '?iri=' + encodeURIComponent(href));
            }
            else if ($(this).hasClass('Individual')) {
                $(this).attr("href", getUrlType('individual') + '?iri=' + encodeURIComponent(href));
            }
        });


        //Initialize the tree
        var div=$("#term-tree");
        var ontologyName = $("#term-tree").data("olsontology");
        var termType = $("#term-tree").data("ols-termtype");
        var termIri = $("#term-tree").data("ols-iri");
        var relativePath = $("#term-tree").data("selectpath") ? $("#term-tree").data("selectpath") : '';
        var app = require("ols-treeview");
        var instance = new app();
        instance.draw(div, false, ontologyName, termType, termIri, relativePath, {save_state: true});

        //Initialize the property tree
        var div=$("#property-tree");
        var ontologyName = $("#property-tree").data("olsontology");
        var termType = $("#property-tree").data("ols-termtype");
        var termIri = $("#property-tree").data("ols-iri");
        var relativePath = $("#property-tree").data("selectpath") ? $("#property-tree").data("selectpath") : '';
        var app = require("ols-treeview");
        var propertyInstance = new app();
        propertyInstance.draw(div, false, ontologyName, termType, termIri, relativePath, {save_state: true});

    });
</script>

</body>
</html>
