<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"/> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"/> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"/> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html xmlns:th="https://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->


<head>
    <div th:replace="fragments/head :: head(olscss=true, diachron=true, proton=true)"></div>
    <title id="pageTitle" th:inline="text">[[${ontologyDocument.getConfig().getTitle()}]] &lt; [[${title}]] &lt; [[${org}]]</title>
    <!-- A few keywords that relate to the content of THIS PAGE (not the whole project)
    <meta name="keywords" content="biosamples, europe, EBI" />
    <!- - Describe what this page is about - ->
    <meta name="description" content="EMBL-EBI" />
    <meta name="ebi:last-review" content="2016-12-20" />
    <!- - The last time the content was reviewed - ->
    <meta name="ebi:expiry" content="2017-12-20" />
    <!- - When this content is no longer relevant -->
</head>


<body>

<th:block th:include="fragments/header :: header"></th:block>

<div id="main-content-area" role="main">
    <div vocab="http://schema.org/" class="row">

        <div id="mainpageSearchBox">
            <h3 style="font-size: 43px;" property="name" th:text="${ontologyDocument.getConfig().getTitle()}">Ontology label</h3>
            <div property="description">
                <p style="font-size: 16px;" th:each="description : ${ontologyDocument.getConfig().getDescription()}" th:text="${description}">
                </p>
            </div>

            <form style="padding-left: 0;" name="local-search" action="../search" method="get">
                <div id="bloodhound" class="">
                    <input style="margin-bottom: 0.1em; display:block; width: 393px;" class="form-control typeahead"
                           autofocus="autofocus" type="text" name="q"
                           data-olswidget="select" data-olsontology="" data-selectpath="../"
                           th:attr="data-olsontology=${ontologyDocument.getOntologyId()}"
                           th:placeholder="'Search ' + ${ontologyDocument.getConfig().getPreferredPrefix()}"
                           aria-describedby="basic-addon1" />
                    <button class="button secondary searchButton glyphicon glyphicon-search" type="submit">Search</button>
                    <input type="hidden" name="ontology" th:value="${ontologyDocument.getOntologyId()}"/>
                </div>
            </form>


            <p>
            <div class="btn-group">
                <button class ="button secondary icon icon-functional" role="button" data-icon ="b" th:onclick="'javascript:goTo(\'' + @{__${ontologyDocument.getOntologyId()}__/terms} + '\')'"> Terms</button>
                <button th:if="${ontologyDocument.getConfig().getAllowDownload() == true}" class ="button secondary icon icon-functional" role="button" data-icon ="=" th:onclick="'javascript:goTo(\'' + @{__${ontologyDocument.getOntologyId()}__/download} + '\')'"> Download</button>
                <button th:if="${ontologyDocument.getConfig().getHomepage() != null}" class ="button secondary icon icon-generic"  th:title="${ontologyDocument.getConfig().getHomepage()}" role="button" data-icon ="H"  th:onclick="'javascript:goTo(\'' + @{${ontologyDocument.getConfig().getHomepage()}} + '\')'"> Ontology Homepage</button>
                <button th:if="${contact != null}" class ="button secondary icon icon-generic"  role="button" data-icon ="C" th:title="${contact}" th:onclick="'javascript:goTo(\'' + @{${contact}} + '\')'"> Contact</button>
                <button th:if="${ontologyDocument.getConfig().getTracker() != null}" class ="button secondary icon icon-generic"  th:title="${ontologyDocument.getConfig().getTracker()}" role="button" data-icon ="\"  th:onclick="'javascript:goTo(\'' + @{${ontologyDocument.getConfig().getTracker()}} + '\')'"> Request a Term</button>
            </div>
            </p>

        </div>


        <div id="onto-tab-content" class="small-8 columns">
            <ul class="tabs" data-tabs="true" id="onto_tabs">
                <li class="tabs-title is-active"><a id="tree-link"
                                                    data-x-tabs-target="tree-tab"
                                                    href="#tree-tab"
                                                    aria-selected="true"><i class="icon icon-functional" data-icon="h"></i> Browse Terms</a></li>
                <li class="tabs-title"><a id="property-link"
                                          data-x-tabs-target="property-tree-tab"
                                          href="#property-tree-tab"><i class="icon icon-functional" data-icon="h"></i> Browse Properties</a></li>
                <li class="tabs-title"><a id="diachron-link"
                                          data-x-tabs-target="diachron-tab"
                                          href="#diachron-tab"><i class="icon icon-generic" data-icon="g"></i> Ontology history</a></li>
            </ul>
            <input type="hidden" name="ontology_view_siblings"
                   th:value="${#httpServletRequest.getParameter('siblings') == 'true'} ? 'true': 'false'"/>

            <!-- Tab panes -->
            <div class="tabs-content" data-tabs-content="onto_tabs">

                <div role="tabpanel"
                     class="tabs-panel is-active"
                     id="tree-tab"
                     data-x-aria-labelledby="tree-tab-label">
                    <div class="ols-tree-buttons">
                        <div th:attr="style=${preferredRootTermDisplayStyle}">
                            <div class="radio icheck-belizehole">
                                <input type="radio"
                                       id="ontology_view_selection_id_preferred_roots"
                                       name="ontology_view_selection"
                                       value="PreferredRoots"
                                       th:checked="${#httpServletRequest.getParameter('viewMode') == null or #httpServletRequest.getParameter('viewMode') == 'PreferredRoots'} ? 'true': 'false'"
                                       onclick="olsTabbedTermTreeView.toggleOntologyView()"/>
                                <label for="ontology_view_selection_id_preferred_roots"
                                       style="margin: 0 0.1rem 0 0.2rem; color: #000000;">Preferred root terms</label>
                            </div>
                            <div class="radio icheck-belizehole">
                                <input type="radio"
                                       id="ontology_view_selection_id_all"
                                       name="ontology_view_selection"
                                       value="All"
                                       th:checked="${#httpServletRequest.getParameter('viewMode') == 'All' or not preferredRootTermEnabled} ? 'true': 'false'"
                                       onclick="olsTabbedTermTreeView.toggleOntologyView()"/>
                                <label for="ontology_view_selection_id_all"
                                       style="margin: 0 0.1rem 0 0.2rem; color: #000000;">All terms</label>
                            </div>
                        </div>
                    </div>
                    <div id="term-tree" data-olswidget="tree"
                         th:attr="data-olsontology=${ontologyDocument.getOntologyId()}"
                         data-selectpath="../" data-ols-termtype="class" data-olsontology="" data-ols-iri="">
                    </div>
                </div>

                <div role="tabpanel"
                     class="tabs-panel"
                     id="property-tree-tab"
                     data-x-aria-labelledby="property-tree-tab-label">

                    <div id="property-tree"
                         data-olswidget="tree"
                         th:attr="data-olsontology=${ontologyDocument.getOntologyId()}"
                         data-selectpath="../"
                         data-ols-termtype="property"
                         data-olsontology=""
                         data-ols-iri="">
                    </div>
                </div>

                <div role="tabpanel"
                     class="tabs-panel"
                     id="diachron-tab"
                     data-x-aria-labelledby="diachron-tab-label"
                     data-selectpath="../"
                     th:attr="data-olsontology=${ontologyDocument.getOntologyId()}">
                    <div id="diachron-wrapper"></div>
                </div>
            </div>
        </div>

        <div id="right_info_box" class="grid_10 beta">
        </div>

        <div id="right_info_box" class="small-4 columns">
            <div id="ontology_info_box" class="panel">
                <div class="panel-heading">
                    <h4>Ontology information</h4>
                </div>
                <div class="panel-body">
                    <div>
                        <b>Ontology IRI: </b>
                        <a property="url" target="blank" th:href="@{${ontologyDocument.getConfig().getId()}}">
                            <i class="icon icon-generic" data-icon="L"></i>
                            <span th:text="${ontologyDocument.getConfig().getId()}">http://www.example.com/onto/id</span> 
                        </a>
                    </div>
                    <div th:if="${ontologyDocument.getConfig().getVersionIri()}">
                        <b>Version IRI: </b>
                        <a property="url" target="blank" th:href="@{${ontologyDocument.getConfig().getVersionIri()}}">
                        <i class="icon icon-generic" data-icon="L"></i>
                        <span th:text="${ontologyDocument.getConfig().getVersionIri()}">http://www.example.com/onto/id</span> 
                        </a>
                    </div>
                    <div>
                        <b>Ontology ID: </b> <span th:text="${ontologyDocument.getOntologyId()}" >ontology id</span>
                    </div>
                    <div th:if="${ontologyDocument.getConfig().getVersion() != null}">
                        <b>Version: </b> <span th:text="${ontologyDocument.getConfig().getVersion()}">NCBI:9606</span>
                    </div>
                    <div>
                        <b>Number of terms: </b> <span th:text="${ontologyDocument.getNumberOfTerms()}">NCBI_9606</span>
                    </div>
                    <div>
                        <b>Last loaded: </b> <span property="dateModified" th:text="${ontologyDocument.getLoaded()}">NCBI_9606</span>
                    </div>
                    <div th:each="creator : ${ontologyDocument.getConfig().getCreators()}">
                        <b>Creator: </b> <span th:text="${creator}">NCBI:9606</span>
                    </div>

                    <br/>
                    <div th:each="annotations: ${ontologyDocument.getConfig().getAnnotations()}">
                        <b>
                            <a href="#" th:href="@{../search(q=${annotations.key},exact='true', type=property, ontology=${ontologyDocument.getOntologyId()})}" th:text="${annotations.key.replaceAll('_', ' ')}">property name</a>
                        </b>
                        <p style="margin-left:9px;" th:each="annovalue : ${annotations.value}" th:text="${annovalue}">NCBI_9606</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments/footer :: footer"></th:block>


<!-- <script type="text/javascript" src="/js/oxo.js" th:src="@{/js/oxo.js}"></script> -->
<script type="text/javascript" src="https://cdn.datatables.net/r/zf-5.5.2/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
<script type="text/javascript" src="../static/js/typeahead/typeahead.bundle.js" th:src="@{../js/typeahead/typeahead.bundle.js}"></script>
<script type="text/javascript" src="../static/js/handlebars/4.0.5/handlebars.min.js" th:src="@{../js/handlebars/4.0.5/handlebars.min.js}"></script>

<script type="text/javascript" src="../static/js/bootstrap/bootstrap.min.js" th:src="@{../js/bootstrap/bootstrap.min.js}"></script>

<script type="text/javascript" src="../static/js/ols.js" th:src="@{../js/ols.js}"></script>
<script src="../static/js/jstree/jstree.min.js" th:src="@{../js/jstree/jstree.min.js}"></script>
<script type="text/javascript" src="../static/js/ols-termselect.js" th:src="@{../js/ols-termselect2.js}"></script>
<!--<script type="text/javascript" src="../static/js/ols-treeview.min.js" th:src="@{../js/ols-treeview.min.js}"></script>-->
<script type="text/javascript" src="../static/js/ols-tabbed-term-treeview.js" th:src="@{../js/ols-tabbed-term-treeview.js}"></script>

<!-- Include tags for the new CHARTS we have for the DIACHRON part of the ontology view-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
<script src="../static/js/diachron/underscore-min.js" th:src="@{../js/diachron/underscore-min.js}"></script>
<script src="../static/js/diachron/changeSummary.js" th:src="@{../js/diachron/changeSummary.js}"></script>
<script src="../static/js/diachron/moment.js" th:src="@{../js/diachron/moment.js}"></script>
<script src="../static/js/diachron/pikaday.js" th:src="@{../js/diachron/pikaday.js}"></script>
<script src="../static/js/diachron/tablesorter.min.js" th:src="@{../js/diachron/tablesorter.min.js}"></script>

<!--script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/locale/bootstrap-table-en-US.min.js"></script>
<script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script-->

<!-- END OF THE DIACHRON INCLUDE TAGS-->
<!-- <script type="text/javascript" src="../static/js/ols.js" th:src="@{../js/ols.js}"></script>
<script type="text/javascript" src="../static/js/ols-termselect.js" th:src="@{../js/ols-termselect2.js}"></script>
<script src="../static/js/jstree/jstree.min.js" th:src="@{../js/jstree/jstree.min.js}"></script>
<script type="text/javascript" src="../static/js/ols-tabbed-term-treeview.min.js" th:src="@{../js/ols-tabbed-term-treeview.min.js}"></script> -->


<!-- All JS that is just used on this page should go here, I suppose-->
<script>
    $(document).ready(function() {
        $('.mansyntax').each(function ()
        {
            // $(this).trigger('click');//for clicking element
            var href = $(this).attr("href");

            if ($(this).hasClass('ObjectProperty')) {
                $(this).attr("href", getUrlType('property') + '?iri=' + encodeURIComponent(href));
            }
            else if ($(this).hasClass('Class')) {
                $(this).attr("href", getUrlType('class') + '?iri=' + encodeURIComponent(href));
            }
            else if ($(this).hasClass('Individual')) {
                $(this).attr("href", getUrlType('individual') + '?iri=' + encodeURIComponent(href));
            }
        });



    });
</script>

<script>

    var termOntologyName = $("#term-tree").data("olsontology");
    var termIri = $("#term-tree").data("ols-iri");
    var termRelativePath = $("#term-tree").data("selectpath") ?
        $("#term-tree").data("selectpath") : '';


    var olsTabbedTermTreeView;
    $(document).ready(function() {

        console.log("Initialize tabbed tree component.");
        var OLSTabbedTermTreeView = require("ols-tabbed-term-treeview");

        olsTabbedTermTreeView = new OLSTabbedTermTreeView(termRelativePath, termOntologyName, "#term-tree",
            "#property-tree", "", "ontology_view_siblings", "ontology_view_selection", true);

        var showSiblings = $("button[name='ontology_view_siblings']").val() == 'true';
        var viewMode = $("input[name='ontology_view_selection']:checked").val();

        olsTabbedTermTreeView.draw(showSiblings, viewMode);
    });
</script>

</body>
</html>
