<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"/> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"/> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"/> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html  xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
         More info: h5bp.com/b/378 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> --> <!-- Not yet implemented -->

    <!--@thymesVar id="ontologyProperty" type="uk.ac.ebi.spot.ols.neo4j.model.Property"-->
    <title th:text="${ontologyProperty.getLabel()}"> Term &lt; Ontology Lookup Service &lt; EMBL-EBI</title>
    <meta name="description" th:content="${ontologyProperty.getDescription()}" content="EMBL-EBI"/><!-- Describe what this page is about -->
    <meta name="keywords" content="ontology, ontologies, bioinformatics, europe, institute"/><!-- A few keywords that relate to the content of THIS PAGE (not the whol project) -->
    <meta name="author" content="EMBL-EBI Ontology Lookup Service"/><!-- Your [project-name] here -->

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
    <link rel="stylesheet" href="../static/css/bootstrap/3.3/css/bootstrap.min.css" th:href="@{../../css/bootstrap/3.3/css/bootstrap.min.css}" type="text/css" media="screen"/>

    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="../static/js/jstree/themes/proton/style.min.css" th:href="@{../../js/jstree/themes/proton/style.min.css}" type="text/css" media="screen" />


    <!-- CSS: implied media=all -->
    <!-- CSS concatenated and minified via ant build script-->
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/boilerplate-style.css"/>
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/ebi-global.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/ebi-visual.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/984-24-col-fluid.css" type="text/css" media="screen"/>

    <!-- you can replace this with [projectname]-colours.css. See http://frontier.ebi.ac.uk/web/style/colour for details of how to do this -->
    <!-- also inform ES so we can host your colour palette file -->
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/embl-petrol-colours.css" type="text/css" media="screen"/>

    <link rel="stylesheet" href="../static/css/ols.css" th:href="@{../../css/ols.css}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../static/css/ols-colors.css" th:href="@{../../css/ols-colors.css}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../static/css/typeahead/typeaheadjs.css" th:href="@{../../css/typeahead/typeaheadjs.css}" type="text/css" media="screen"/>


    <!-- for production the above can be replaced with -->
    <!--
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/mini/ebi-fluid-embl.css">
    -->
    <!-- Latest compiled and minified CSS -->
    <style type="text/css">
        /* You have the option of setting a maximum width for your page, and making sure everything is centered */
        /* body { max-width: 1600px; margin: 0 auto; } */
        .tt-menu {
            left: auto !important;
            right: 0 !important;
        }
    </style>


    <!--<link rel="stylesheet" type="text/css" href="css/spacelab.bootstrap.min.css" th:href="@{../css/spacelab.bootstrap.min.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{../css/main.css}"/>-->

    <!-- end CSS-->



    <!-- All JavaScript at the bottom, except for Modernizr / Respond.
         Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
         For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->

    <!-- Full build -->
    <!-- <script src="//www.ebi.ac.uk/web_guidelines/js/libs/modernizr.minified.2.1.6.js"></script> -->

    <!-- custom build (lacks most of the "advanced" HTML5 support -->
    <script src="//www.ebi.ac.uk/web_guidelines/js/libs/modernizr.custom.49274.js"></script>

</head>

<body class="level2">

<div id="skip-to">
    <ul>
        <li><a href="#content">Skip to main content</a></li>
        <li><a href="#local-nav">Skip to local navigation</a></li>
        <li><a href="#global-nav">Skip to EBI global navigation menu</a></li>
        <li><a href="#global-nav-expanded">Skip to expanded EBI global navigation menu (includes all sub-sections)</a></li>
    </ul>
</div>

<div id="wrapper" class="container_24">

    <header>

        <div id="global-masthead" class="masthead grid_24">

            <!--This has to be one line and no newline characters-->
            <a href="//www.ebi.ac.uk/" title="Go to the EMBL-EBI homepage"><img src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_white.png" alt="EMBL European Bioinformatics Institute"/></a>

            <nav>
                <ul id="global-nav">
                    <!-- set active class as appropriate -->
                    <li id="services" class=" first active"><a href="//www.ebi.ac.uk/services" title="Services">Services</a></li>
                    <li id="research" class=""><a href="//www.ebi.ac.uk/research" title="Research">Research</a></li>
                    <li id="training" class=""><a href="//www.ebi.ac.uk/training" title="Training">Training</a></li>
                    <li id="industry" class=""><a href="//www.ebi.ac.uk/industry" title="Industry">Industry</a></li>
                    <li id="about" class=" last"><a href="//www.ebi.ac.uk/about" title="About us">About us</a></li>
                </ul>
            </nav>

        </div>

        <div id="local-masthead" class="masthead grid_24 nomenu">

            <!-- local-title -->
            <!-- NB: for additional title style patterns, see http://frontier.ebi.ac.uk/web/style/patterns -->

            <div id="local-title" class="alpha logo-title">
                <a href="index" title="Back to OLS homepage">
                    <img style="width: 80px" th:src="@{../../img/ols-logo.jpg}" src="../static/img/ols-logo.jpg" alt="OLS logo"/></a>
                <span><h1>Ontology Lookup Service</h1></span>
            </div>

            <!-- /local-title -->

            <!-- fix to remove search box -->
            <div style="visibility: hidden">
                <form id="local-search">
                </form>
            </div>

            <nav>
                <ul class="grid_24" id="local-nav">
                    <li class="first"><a href="../../index">Home</a></li>
                    <li class="active"><a href="../../ontologies">Ontologies</a></li>
                    <li><a href="../../docs">Documentation</a></li>
                    <li class="last" ><a href="../../about">About</a></li>
                    <li class="functional last"><a href="../../contact" class="icon icon-generic" data-icon="C">Contact Us</a></li>
                </ul>
            </nav>
        </div>


    </header>

    <!--@thymesVar id="ontologyProperty" type="uk.ac.ebi.spot.ols.neo4j.model.Property"-->
    <!--@thymesVar id="ontologyName" type="String"-->
    <!--@thymesVar id="parentProperties" type="Set"-->
    <div vocab="http://schema.org/" typeof="MedicalCode" id="content" role="main" class="grid_24 clearfix">

        <div style="float:right;padding-right: 5px;">
            <a style="float:right; border-bottom: none;" th:href="@{../../api/ontologies/__${ontologyProperty.getOntologyName()}__/properties (iri=${ontologyProperty.getIri()})}"  href="#">
                <img th:src="@{../../img/file_JSON.png}" src="../static/img/file_JSON.png" alt="JSON" title="Get data as JSON"/>
            </a>
        </div>

        <nav id="breadcrumb">
            <p>
                <a href="../../index">OLS</a> &gt;
                <a th:href="@{../../ontologies/__${ontologyProperty.getOntologyName()}__}" th:text="${ontologyName}">ontology</a>
                &nbsp;
                <a property="codingSystem" th:attr="content=${ontologyProperty.getOntologyName()}" href="#" style="border-bottom-width: 0px;">
                    <span class="ontology-source" th:text="${ontologyProperty.getOntologyPrefix()}">parent 1</span>
                </a>   &gt;
                <span id="shortForm" th:if="${ontologyProperty.getOboId()} != null" class="term-source" property="codeValue" th:text="${ontologyProperty.getOboId()}">id</span>
                <span id="shortForm" th:unless="${ontologyProperty.getOboId()} != null" class="term-source" property="codeValue" th:text="${ontologyProperty.getShortForm()}">id</span>

                <button id='copyShortForm' data-clipboard-action="copy" data-clipboard-target="#shortForm" type="button"></button>

            </p>
        </nav>

        <div class="container" style="margin:9px;">
            <!--<div class="grid_24 alpha">-->

            <section>
                <div class="grid_24 clearfix">
                    <div class="grid_24 clearfix">
                        <div class="grid_18 alpha">
                            <h1 property="name"  style="margin: 0px;" th:text="${ontologyProperty.getLabel()}">Term label</h1>
                        </div>
                        <div class="grid_6">
                            <form name="local-search" action="../../search" method="get">
                                <div id="bloodhound" class="input-group">
                                    <input style="margin-bottom: 0.1em;" class="form-control typeahead" autofocus="autofocus" type="text" name="q" data-olswidget="select" th:placeholder="'Search ' + ${ontologyProperty.getOntologyPrefix()}" th:attr="data-olsontology=${ontologyProperty.getOntologyName()}" data-olsontology=""  data-selectpath="../../" placeholder="Search OLS" aria-describedby="basic-addon1"/>

                                    <input type="hidden" name="ontology" th:value="${ontologyProperty.getOntologyName()}"/>

                                    <span class="input-group-btn">
                                      <button class="btn btn-default glyphicon glyphicon-search" type="submit">
                                      </button>
                                    </span>
                                </div><!-- /input-group -->
                            </form>
                        </div>
                    </div>

                    <div class="grid_24 clearfix">
                        <a style="padding: 9px;border-bottom: none;" th:href="@{${ontologyProperty.getIri()}}" class="nounderline" target="blank"><img th:src="@{../../img/external_link.png}" src="../static/img/external_link.png" alt="^" title="Go to external page"/></a>
                        <span id="OLS_ID"  property="url" style="font-size: small;color: grey;" th:text="${ontologyProperty.getIri()}">http://www.example.com/onto/id</span>
                        <p style="display:inline;"><button id='copyThis' data-clipboard-action="copy" data-clipboard-target="#OLS_ID" type="button">C</button></p>

                    </div>
                    <div class="grid_24 alpha clearfix">

                        <hr style="margin-left: 9px;"/>

                        <div property="description">
                            <p th:each="description : ${ontologyProperty.getDescription()}" th:text="${description}">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget <nulla class=""></nulla>                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum.
                            </p>
                        </div>

                        <div th:if="${ontologyProperty.getSynonyms() !=null}">
                            <p><b>Synonyms:</b>
                                <span property="alternateName" style="margin-left:9px;" th:text="${#strings.setJoin(ontologyProperty.getSynonyms(), ', ')}">NCBI_9606</span>
                            </p>

                        </div>
                    </div>

                </div>

            </section>

            <section>

                <div class="grid_24 clearfix">
                    <div class="grid_14 alpha clearfix">

                        <ul  class="nav nav-tabs">
                            <li role="presentation" class="active"><a class="icon icon-functional" data-icon="h" data-toggle="tab" href="#tree-tab">Tree view</a></li>
                            <!--<li role="presentation"><a data-toggle="tab"  href="#graph-tab">Graph view</a></li>-->
                        </ul>
                        <div class="btn-group btn-group-vertical" style="float: right;padding-top:5px;">
                            <input type="radio" id="ontology_view_selection_id" name="ontology_view_selection" value="All"
                                   th:checked="${#httpServletRequest.getParameter('viewMode') == null or #httpServletRequest.getParameter('viewMode') == 'All'} ? 'true': 'false'" onclick="instance.toggleOntologyView(this)">All terms</input><br/>
                            <input type="radio" id="ontology_view_selection_id" name="ontology_view_selection" value="PreferredRoots"
                                   th:checked="${#httpServletRequest.getParameter('viewMode') == 'PreferredRoots'} ? 'true': 'false'" onclick="instance.toggleOntologyView(this)">Preferred root terms</input>
                        </div>
                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane active" id="tree-tab">

                                <div class="btn-group btn-group-vertical" style="float: right;padding-top:5px;">
                                    <button class="btn  btn-default" value="true" title="Expand the tree to show sibling terms" onclick="instance.toggleSiblings(this)">Show siblings</button>
                                </div>

                                <div id="term-tree" data-olswidget="tree" th:attr="data-olsontology=${ontologyProperty.getOntologyName()},data-ols-iri=${ontologyProperty.getIri()}" data-selectpath="../../" data-ols-termtype="property" data-olsontology="" data-ols-iri=""  >
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="grid_10 info-box">

                        <div class="panel panel-primary">

                            <div class="panel-heading">
                                <h3 style="padding: 0" class="panel-title">Property info</h3>
                            </div>
                            <div class="panel-body">

                                <div th:each="annotations: ${ontologyProperty.getAnnotation()}">
                                    <b>
                                        <a href="#" th:href="@{../../search(q=${annotations.key},exact='true', type=property, ontology=${ontologyProperty.ontologyName})}" th:text="${annotations.key.replaceAll('_', ' ')}">property name</a>
                                    </b>
                                    <p style="margin-left:9px;" th:text="${#strings.setJoin(annotations.value, ',')}">NCBI_9606</p>
                                </div>


                            </div>
                        </div>


                        <div class="panel panel-primary">

                            <div class="panel-heading">
                                <h3 style="padding: 0" class="panel-title">Property relations</h3>
                            </div>
                            <div class="panel-body">
                                <div th:if="${parentProperties != null}">
                                    <b>Parents</b>
                                    <br/>
                                    <div th:each="parentProperty : ${parentProperties}">
                                        <a href="#" th:href="@{properties (iri=${parentProperty.getIri()})}" th:text="${parentProperty.getLabel()}">parent 1</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--</div>-->
        </div>

    </div>


    <footer>
        <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
        <div id="elixir-banner" data-color="grey" data-name="The Ontology Lookup Service" data-description="OLS is an ELIXIR interoperability service" data-more-information-link="//www.elixir-europe.org/platforms/interoperability" data-use-basic-styles="true"></div>
        <script src="//ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/elixirBanner.js"></script>

        <!-- End optional local footer -->

        <div id="global-footer" class="grid_24 clearfix">

            <nav id="global-nav-expanded">

                <div class="grid_4 alpha">
                    <h3 class="embl-ebi"><a href="//www.ebi.ac.uk/" title="EMBL-EBI">EMBL-EBI</a></h3>
                </div>

                <div class="grid_4">
                    <h3 class="services"><a href="//www.ebi.ac.uk/services">Services</a></h3>
                </div>

                <div class="grid_4">
                    <h3 class="research"><a href="//www.ebi.ac.uk/research">Research</a></h3>
                </div>

                <div class="grid_4">
                    <h3 class="training"><a href="//www.ebi.ac.uk/training">Training</a></h3>
                </div>

                <div class="grid_4">
                    <h3 class="industry"><a href="//www.ebi.ac.uk/industry">Industry</a></h3>
                </div>

                <div class="grid_4 omega">
                    <h3 class="about"><a href="//www.ebi.ac.uk/about">About us</a></h3>
                </div>

            </nav>

            <section id="ebi-footer-meta">
                <p class="address">EMBL-EBI, Wellcome Trust Genome Campus, Hinxton, Cambridgeshire, CB10 1SD, UK &nbsp; &nbsp; +44 (0)1223 49 44 44</p>
                <p class="legal">Copyright &copy; EMBL-EBI 2013 | EBI is an outstation of the <a href="http://www.embl.org">European Molecular Biology Laboratory</a> | <a href="/about/privacy">Privacy</a> | <a href="/about/cookies">Cookies</a> | <a href="/about/terms-of-use">Terms of use</a></p>
            </section>

        </div>

    </footer>

</div>

<script type="text/javascript" src="../static/js/jquery/1.11.1/jquery.min.js" th:src="@{../../js/jquery/1.11.1/jquery.min.js}"></script>
<script type="text/javascript" src="../static/js/typeahead/typeahead.bundle.js" th:src="@{../../js/typeahead/typeahead.bundle.js}"></script>
<script type="text/javascript" src="../static/js/handlebars/4.0.5/handlebars.min.js" th:src="@{../../js/handlebars/4.0.5/handlebars.min.js}"></script>

<script type="text/javascript" src="../static/js/ols.js" th:src="@{../../js/ols.js}"></script>
<script src="../static/js/jstree/jstree.min.js" th:src="@{../../js/jstree/jstree.min.js}"></script>

<script type="text/javascript" src="../static/js/ols-termselect2.js" th:src="@{../../js/ols-termselect2.js}"></script>
<!--<script type="text/javascript" src="../static/js/ols-treeview.min.js" th:src="@{../../js/ols-treeview.min.js}"></script>-->
<script type="text/javascript" src="../static/js/ols-term-type-treeview.js" th:src="@{../../ols-term-type-treeview.js  (v=0.0.42)}"></script>
<script type="text/javascript" src="../static/js/bootstrap/bootstrap.min.js" th:src="@{../../js/bootstrap/bootstrap.min.js}"></script>

<script type="text/javascript" src="../static/js/clipboard.min.js" th:src="@{../../js/clipboard.min.js}"></script>

<script>
    $(document).ready(function() {
        $('.mansyntax').each(function ()
        {
//            $(this).trigger('click');//for clicking element
            var href = $(this).attr("href");

            if ($(this).hasClass('ObjectProperty')) {
                $(this).attr("href", getUrlType('property') + '?iri=' + encodeURIComponent(href));
            }
            else if ($(this).hasClass('Class')) {
                $(this).attr("href", getUrlType('class') + '?iri=' + encodeURIComponent(href));
            }
            else if ($(this).hasClass('Individual')) {
                $(this).attr("href", getUrlType('individual') + '?iri=' + encodeURIComponent(href));
            }

            new Clipboard('#copyThis')
            new Clipboard('#copyShortForm')
        });
    });
</script>

<script>
    // initialise the tree

    var div=$("#term-tree");
    var ontologyName = $("#term-tree").data("olsontology");
    var termType = $("#term-tree").data("ols-termtype");
    var termIri = $("#term-tree").data("ols-iri");
    var relativePath = $("#term-tree").data("selectpath") ? $("#term-tree").data("selectpath") : '';

    // var app = require("ols-treeview");
    // var instance = new app();
    // instance.draw(div, false, ontologyName, termType, termIri, relativePath, {save_state: true});

    var instance;

    var OLSTermTypeTreeView = require("ols-term-type-treeview");

    instance = new OLSTermTypeTreeView(relativePath, ontologyName, "#term-tree",
        termIri, termType, true, "ontology_view_selection_id", true);

    instance.draw();
</script>

<script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/cookiebanner.js"></script>
<script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/foot.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69391170-1', 'auto');
    ga('send', 'pageview');
    ga('set', 'anonymizeIp', true);


</script>
</body>
</html>