<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"/> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"/> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"/> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html xmlns:th="https://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->


<head th:replace="fragments/head :: head(olscss=true, proton=true)">
    <title>Ontology Xref Service   &lt; EMBL-EBI</title>
    <!-- A few keywords that relate to the content of THIS PAGE (not the whole project)
    <meta name="keywords" content="biosamples, europe, EBI" />
    <!- - Describe what this page is about - ->
    <meta name="description" content="EMBL-EBI" />
    <meta name="ebi:last-review" content="2016-12-20" />
    <!- - The last time the content was reviewed - ->
    <meta name="ebi:expiry" content="2017-12-20" />
    <!- - When this content is no longer relevant -->
</head>


<body>
<th:block th:include="fragments/header :: header"></th:block>

<section id="main-content-area" role="main">
    <div vocab="http://schema.org/" typeof="MedicalCode" id="content" role="main" class="row">
         <div class="breadcrumbDiv">
            <div style="float: right; padding-right: 5px;">
                <a style="float: right; border-bottom: none;"
                   th:href="@{../../api/ontologies/__${ontologyProperty.getOntologyName()}__/properties (iri=${ontologyProperty.getIri()})}"
                   href="#">
                    <img th:src="@{../../img/file_JSON.png}"
                         src="../static/img/file_JSON.png"
                         alt="JSON"
                         title="Get data as JSON" />
                </a>
            </div>

            <nav aria-label="Here you are" role="navigation">
                <ul class="breadcrumbs">
                    <li><a th:inline="text" href="../../index">[[${shortTitle}]]</a></li>
                    <li><a th:href="@{../../ontologies/__${ontologyProperty.getOntologyName()}__}"
                           th:text="${ontologyName}">ontology</a><div class="decoy"></div
                       ><a property="codingSystem"
                           th:attr="content=${ontologyProperty.getOntologyName()}"
                           data-x-style="border-bottom-width: 0px;"
                           href="#"><span class="ontology-source-valign"
                                          th:text="${ontologyProperty.getOntologyPrefix()}">parent 1</span></a></li>
                    <li><span id="shortForm"
                              th:if="${ontologyProperty.getOboId()} != null"
                              class="term-source-valign"
                              property="codeValue"
                              th:text="${ontologyProperty.getOboId()}">id</span
                       ><span id="shortForm"
                              th:unless="${ontologyProperty.getOboId()} != null"
                              class="term-source-valign"
                              property="codeValue"
                              th:text="${ontologyProperty.getShortForm()}">id</span
                       ><button id='copyShortForm'
                                data-x-class="button tiny third copyButton"
				class="secondary-color tiny copyButton"
                                data-clipboard-action="copy"
                                data-clipboard-target="#shortForm"
                                type="button"><i class="icon icon-functional"
                                                    data-icon="0"></i> Copy</button></li>
                </ul>
            </nav>
        </div>

        <!--<div class="grid_24 alpha">-->
        <div class="">
            <div class="small-8 column">
                <h2 property="name" style="margin-bottom: 0;" th:text="${ontologyProperty.getLabel()}">Property label</h2>
                <a data-x-style="padding: 9px; border-bottom: none;"
		   style="padding-left: 3px; border-bottom:none;"
                   th:href="@{${ontologyProperty.getIri()}}"
                   class="nounderline secondary-color"
		   title="Go to external page"
                   target="blank">
                   <span class="show-for-sr">Go to external page</span>
                   <i class="icon icon-generic" data-icon="x"></i>
				 <span id="OLS_ID"
                                        property="url"
                                        style="font-size: small; /* color: grey; */"
                                        th:text="${ontologyProperty.getIri()}">http://www.example.com/onto/id</span></a>
                <p style="display: inline;"><button id='copyThis'
                                                    data-x-class="button tiny third copyButton"
						    class="secondary-color small copyButton"
                                                    data-clipboard-action="copy"
                                                    data-clipboard-target="#OLS_ID"
                                                    type="button"><i class="icon icon-functional"
									data-icon="0"></i> Copy</button></p>
            </div>

            <div class="small-4 columns">
                <form id="filter_form" name="local-search" action="../../search" method="get">
                    <div id="bloodhound" class="input-group">
                        <input style="margin-bottom: 0.1em;"
                               class="form-control typeahead"
                               autofocus="autofocus"
                               type="text"
                               name="q"
                               data-olswidget="select"
                               th:placeholder="'Search ' + ${ontologyProperty.getOntologyPrefix()}"
                               th:attr="data-olsontology=${ontologyProperty.getOntologyName()}"
                               data-olsontology=""
                               data-selectpath="../../"
                               th:attr="placeholder='Search ' + ${shortTitle}"
                               aria-describedby="basic-addon1"/>
                        <button class="button secondary searchButton glyphicon glyphicon-search"
                                type="submit">Search</button>
                        <!--span class="input-group-btn">
                            <button class="button secondary searchButton glyphicon glyphicon-search"
                                    style=""
                                    type="submit">Search</button>
                        </span-->
                    </div>
                    <input type="hidden" name="ontology" th:value="${ontologyProperty.getOntologyName()}"/>
                </form>
            </div>
        </div>

	    <div class="small-12 columns">
	        <hr />
            <div class="grid_24 clearfix">
                <div class="grid_14 alpha clearfix">
                    <div id="terms-tab-content" class="small-8 columns">
                        <ul class="tabs nav nav-tabs" data-tabs="true" id="property_tabs">
                            <li class="tabs-title is-active"><a aria-selected="true"
                                                                href="#tree-tab"><i class="icon icon-functional" data-icon="h"></i> Tree view</a></li>
                            <!--li role="presentation"><a data-toggle="tab" href="#graph-tab">Graph view</a></li-->
                        </ul>


                        <div class="tabs-content" data-tabs-content="property_tabs">
                            <div role="tabpanel" class="tabs-panel is-active" id="tree-tab">

                                <div class="ols-tree-buttons">
                                    <button class="ols-tree-button"
                                            id="ontology_view_siblings_id"
                                            name="ontology_view_siblings"
                                            th:value="${#httpServletRequest.getParameter('siblings') == 'true'} ? 'true': 'false'"
                                            title="Expand the tree to show sibling terms"
                                            onclick="instance.toggleSiblings()">Show all siblings</button>
                                </div>

                                <div id="term-tree"
                                     data-olswidget="tree"
                                     th:attr="data-olsontology=${ontologyProperty.getOntologyName()},data-ols-iri=${ontologyProperty.getIri()}"
                                     data-selectpath="../../"
                                     data-ols-termtype="property"
                                     data-olsontology=""
                                     data-ols-iri="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="right_info_box" class="small-4 columns">
                        <div id="term_info_box" class="panel">
                            <div class="panel-heading">
                                <h4 style="padding: 0;" class="panel-title">Property information</h4>
                            </div>
                            <div class="panel-body">
                                <div th:each="annotations: ${ontologyProperty.getAnnotation()}">
                                    <b><a href="#"
                                          th:href="@{../../search(q=${annotations.key},exact='true', type=property, ontology=${ontologyProperty.ontologyName})}"
                                          th:text="${annotations.key.replaceAll('_', ' ')}">property name</a></b>
                                    <p style="margin-left: 9px;"
                                       th:text="${#strings.setJoin(annotations.value, ',')}">NCBI_9606</p>
                                </div>
                            </div>
                        </div>

                        <div id="term_relation_box" class="panel">
                            <div class="panel-heading">
                                <h4 style="padding: 0;" class="panel-title">Property relations</h4>
                            </div>
                            <div class="panel-body">
                                <div th:if="${parentProperties != null}">
                                    <b>Parents</b>
                                    <br/>
                                    <div th:each="parentProperty : ${parentProperties}">
                                        <a href="#"
                                           th:href="@{properties (iri=${parentProperty.getIri()})}"
                                           th:text="${parentProperty.getLabel()}">parent 1</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:include="fragments/footer :: footer"></th:block>


<script type="text/javascript"
        src="../static/js/typeahead/typeahead.bundle.js"
        th:src="@{../../js/typeahead/typeahead.bundle.js}"></script>
<script type="text/javascript"
        src="../static/js/handlebars/4.0.5/handlebars.min.js"
        th:src="@{../../js/handlebars/4.0.5/handlebars.min.js}"></script>

<script type="text/javascript" src="../static/js/ols.js" th:src="@{../../js/ols.js}"></script>
<script src="../static/js/jstree/jstree.min.js" th:src="@{../../js/jstree/jstree.min.js}"></script>

<script type="text/javascript" src="../static/js/ols-termselect2.js" th:src="@{../../js/ols-termselect2.js}"></script>
<!--script type="text/javascript" src="../static/js/ols-treeview.min.js" th:src="@{../../js/ols-treeview.min.js}"></script-->
<script type="text/javascript"
        src="../static/js/ols-term-type-treeview.js"
        th:src="@{../../js/ols-term-type-treeview.js  (v=0.0.42)}"></script>
<script type="text/javascript"
        src="../static/js/bootstrap/bootstrap.min.js"
        th:src="@{../../js/bootstrap/bootstrap.min.js}"></script>

<script type="text/javascript" src="../static/js/clipboard.min.js" th:src="@{../../js/clipboard.min.js}"></script>

<script>
    $(document).ready(function() {
        $('.mansyntax').each(function() {
            // $(this).trigger('click');  // for clicking element
            var href = $(this).attr("href");

            if ($(this).hasClass('ObjectProperty')) {
                $(this).attr("href", getUrlType('property') + '?iri=' + encodeURIComponent(href));
            }
            else if ($(this).hasClass('Class')) {
                $(this).attr("href", getUrlType('class') + '?iri=' + encodeURIComponent(href));
            }
            else if ($(this).hasClass('Individual')) {
                $(this).attr("href", getUrlType('individual') + '?iri=' + encodeURIComponent(href));
            }
        });

        new Clipboard('#copyThis');
        new Clipboard('#copyShortForm');
    });
</script>

<script>
    var div = $("#term-tree");
    var ontologyName = $("#term-tree").data("olsontology");
    var termType = $("#term-tree").data("ols-termtype");
    var termIri = $("#term-tree").data("ols-iri");
    var relativePath = $("#term-tree").data("selectpath") ? $("#term-tree").data("selectpath") : '';

    var instance;

    var OLSTermTypeTreeView = require("ols-term-type-treeview");

    instance = new OLSTermTypeTreeView(relativePath, ontologyName, "#term-tree",
        termIri, termType, "ontology_view_siblings", "ontology_view_selection", true);

    var showSiblings = $("button[name='ontology_view_siblings']").val() == 'true';

    var viewMode = "All";

    console.log("showSiblings = ", showSiblings);
    console.log("viewMode = ", viewMode);
    instance.draw(showSiblings, viewMode);
</script>


</body>
</html>
