<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="${catalina.home}/logs" />
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/ols.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} %M - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="error">
        <appender-ref ref="FILE" />
    </root>
    <logger name="uk.ac.ebi.spot.ols" additivity="false" level="debug">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>
