<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"/> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"/> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"/> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html  xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
         More info: h5bp.com/b/378 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> --> <!-- Not yet implemented -->

    <title>OLS roadmap &lt; Ontology Lookup Service &lt; EMBL-EBI</title>
    <meta name="description" content="EMBL-EBI Ontology Lookup Service is a repository of bio-medical ontologies and provides a powerful REST API for searching and accessing ontology term information"/><!-- Describe what this page is about -->
    <meta name="keywords" content="ontology, ontologies, bioinformatics, europe, institute"/><!-- A few keywords that relate to the content of THIS PAGE (not the whol project) -->
    <meta name="author" content="Samples Phenotypes and Ontologies Team, EMBL-EBI"/><!-- Your [project-name] here -->

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->



    <!-- CSS: implied media=all -->
    <!-- CSS concatenated and minified via ant build script-->
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/boilerplate-style.css"/>
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/ebi-global.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/ebi-visual.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/984-24-col-fluid.css" type="text/css" media="screen"/>

    <!-- you can replace this with [projectname]-colours.css. See http://frontier.ebi.ac.uk/web/style/colour for details of how to do this -->
    <!-- also inform ES so we can host your colour palette file -->
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/develop/embl-petrol-colours.css" type="text/css" media="screen"/>

    <link rel="stylesheet" href="css/ols.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="css/ols-colors.css" type="text/css" media="screen"/>

    <!-- for production the above can be replaced with -->
    <!--
    <link rel="stylesheet" href="//www.ebi.ac.uk/web_guidelines/css/compliance/mini/ebi-fluid-embl.css">
    -->
    <!-- Bootstrap table css -->

    <style type="text/css">
        /* You have the option of setting a maximum width for your page, and making sure everything is centered */
        /* body { max-width: 1600px; margin: 0 auto; } */
    </style>


    <!--<link rel="stylesheet" type="text/css" href="css/spacelab.bootstrap.min.css" th:href="@{../css/spacelab.bootstrap.min.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{../css/main.css}"/>-->

    <!-- end CSS-->



    <!-- All JavaScript at the bottom, except for Modernizr / Respond.
         Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
         For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->

    <!-- Full build -->
    <!-- <script src="//www.ebi.ac.uk/web_guidelines/js/libs/modernizr.minified.2.1.6.js"></script> -->

    <!-- custom build (lacks most of the "advanced" HTML5 support -->
    <script src="//www.ebi.ac.uk/web_guidelines/js/libs/modernizr.custom.49274.js"></script>

</head>

<body class="level2">

<div id="skip-to">
    <ul>
        <li><a href="#content">Skip to main content</a></li>
        <li><a href="#local-nav">Skip to local navigation</a></li>
        <li><a href="#global-nav">Skip to EBI global navigation menu</a></li>
        <li><a href="#global-nav-expanded">Skip to expanded EBI global navigation menu (includes all sub-sections)</a></li>
    </ul>
</div>

<div id="wrapper" class="container_24">

    <header>

        <div id="global-masthead" class="masthead grid_24">

            <!--This has to be one line and no newline characters-->
            <a href="//www.ebi.ac.uk/" title="Go to the EMBL-EBI homepage"><img src="//www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/EMBL_EBI_Logo_white.png" alt="EMBL European Bioinformatics Institute"/></a>

            <nav>
                <ul id="global-nav">
                    <!-- set active class as appropriate -->
                    <li id="services" class=" first active"><a href="//www.ebi.ac.uk/services" title="Services">Services</a></li>
                    <li id="research" class=""><a href="//www.ebi.ac.uk/research" title="Research">Research</a></li>
                    <li id="training" class=""><a href="//www.ebi.ac.uk/training" title="Training">Training</a></li>
                    <li id="industry" class=""><a href="//www.ebi.ac.uk/industry" title="Industry">Industry</a></li>
                    <li id="about" class=" last"><a href="//www.ebi.ac.uk/about" title="About us">About us</a></li>
                </ul>
            </nav>

        </div>

        <div id="local-masthead" class="masthead grid_24 nomenu">

            <!-- local-title -->
            <!-- NB: for additional title style patterns, see http://frontier.ebi.ac.uk/web/style/patterns -->

            <div id="local-title" class="grid_14 alpha logo-title">
                <a href="index" title="Back to OLS homepage">
                    <img style="width: 80px" src="img/ols-logo.jpg" alt="OLS logo"/></a>
                <span><h1>Ontology Lookup Service</h1></span>
            </div>

            <!-- /local-title -->

            <!-- -->
            <div class="grid_10 omega">
            </div>

            <nav>
                <ul class="grid_24" id="local-nav">
                    <li class="first active"><a href="index">Home</a></li>
                    <li><a href="ontologies">Ontologies</a></li>
                    <li><a href="docs">Documentation</a></li>
                    <li class="last" ><a href="about">About</a></li>
                    <li class="functional last"><a href="contact" class="icon icon-generic" data-icon="C">Contact Us</a></li>
                </ul>
            </nav>
        </div>


    </header>

    <div id="content" role="main" class="grid_24 clearfix">
        <div class="container">

            <!--@thymesVar id="summary" type="uk.ac.ebi.spot.ols.controller.ui.HomeController.SummaryInfo"-->
            <div class="grid_24 alpha">

                <section class="grid_19 alpha intro">
                    <h2>Ontology Lookup Service version 3 roadmap</h2>
                    <p class="intro">
                        OLS 3 is a complete re-write of the code and includes some significant changes to how we index and serve up ontology data. This includes an all new API for programmatic access to the data.
                        The old OLS 2 service is no longer able to update the ontologies and we plan to deprecate the service entirely in October 2016. This document outlines the road map for releasing the new OLS service and provides a guide for migrating from the old SOAP API
                        to the new REST API.
                    </p>

                    <h2>Why is this happening?</h2>
                    <p>
                        The code under the old OLS system is nearly 10 years old in places and many of the libraries have  been deprecated which made maintaining the codebase very difficult. The old OLS systems was only designed to work with OBO ontologies and used
                        public version control systems, like the OBO foundry sourceforge CVS site, for updating the ontologies. This system started failing recently, partly becuase it could no longer cope with the increasing size of the ontologies and there were
                        other factors like the deprecation of the OBO CVS site on sourceforge. We decide that it was time for a new OLS service that would be more scalable and easier to maintain. The main features of this service are:
                    </p>
                    <ul>
                        <li>Supports both OWL and OBO formatted ontologies</li>
                        <li>Ontology crawler that is based on registering files by URLs and checking those files nightly for changes</li>
                        <li>Built for scalability using two industry standard technologies - Neo4j and Solr</li>
                    </ul>

                    <h2>Timeline</h2>
                    <ul>
                        <li><b style="text-decoration: line-through">October 27th 2015</b>
                            <ul>
                                <li>OLS beta announced running at <a href="http://www.ebi.ac.uk/ols/beta">http://www.ebi.ac.uk/ols/beta</a></li>
                                <li>Announcement of deprecation of old OLS services running at <a href="http://www.ebi.ac.uk/ontology-lookup">http://www.ebi.ac.uk/ontology-lookup</a> (also redirects from http://www.ebi.ac.uk/ols)</li>
                                <li>Freeze data in old OLS and stop nightly update of ontologies</li>
                            </ul>
                        </li>
                        <li><b style="text-decoration: line-through">January 31st 2016</b>
                            <ul>
                                <li>We will start an instance of the old OLS at http://www.ebi.ac.uk/ontology-lookup/v2. This will serve the old services and data until October 1st 2016</li>
                            </ul>
                        </li>
                        <li><b style="text-decoration: line-through">May 4th 2016</b>
                            <ul>
                                <li>We will move new OLS to production and serve from http://www.ebi.ac.uk/ols</li>
                                <li>http://www.ebi.ac.uk/ontology-lookup will redirect to http://www.ebi.ac.uk/ols</li>
                                <li>http://www.ebi.ac.uk/ols/beta will continue to be available for beta testing new features, but the underlying data may not be the most up-to-date</li>
                                <li>The old OLS service will be archived and only available from http://www.ebi.ac.uk/ols/v2</li>
                            </ul>
                        </li>
                        <li><b>October 1st 2016</b>
                            <ul>
                                <li>We will shutdown the old OLS service running at http://www.ebi.ac.uk/ols/v2</li>
                            </ul>
                        </li>

                    </ul>

                    <h2>What will be deprecated</h2>
                    <ul>
                        <li>As of April 18 2016 we will no longer provide a MySQL dump of OLS</li>
                        <li>As of May 4th 2016 the SOAP API will no longer be accessible from http://www.ebi.ac.uk/ontology-lookup/OntologyQuery and only available from http://www.ebi.ac.uk/ols/v2/OntologyQuery until October 1st 2016</li>
                    </ul>

                    <p>
                        If you have any questions please get in touch with as at ols-support [at] ebi.ac.uk
                    </p>

                    <h2>Migration</h2>

                    <h3>Linking to OLS</h3>

                    <h4>Linking to an ontology</h4>

                    <p>If you want to link to an ontology in OLS you will need to know the ontology id. Typically this is a lowercase form of the ontology namespace e.g. For the gene ontology this is 'go'</p>

                    <table>
                        <tr>
                            <th>Old URL</th>
                            <th>New URL</th>
                            <th>Example</th>
                        </tr>
                        <tr>
                            <td>
                                www.ebi.ac.uk/ontology-lookup/browse.do?ontName=&lt;ontology name&gt;
                            </td>
                            <td>
                                www.ebi.ac.uk/ols/ontologies/&lt;ontology name&gt;
                            </td>
                            <td>
                                <a href="//www.ebi.ac.uk/ols/ontologies/go">ebi.ac.uk/ols/ontologies/&lt;ontology name&gt;</a> (Note that the live URL is currently for the beta site)
                            </td>
                        </tr>
                    </table>

                    <h4>Linking to an ontology term</h4>
                    <p>
                        You can link to an ontology term in the old OLS using the OBO style short id e.g. GO:0007610. The new OLS moves to identify ontology terms via a <a href="http://www.w3.org/International/">International Resource Identifier</a> (IRI). We still support linking via the old id style.
                    </p>

                    <table>
                        <tr>
                            <th>Old URL</th>
                            <th>New URL</th>
                            <th>Example</th>
                        </tr>
                        <tr>
                            <td>
                                www.ebi.ac.uk/ontology-lookup/browse.do?ontName=&lt;ontology name&gt;&termId=GO%3A0007610
                            </td>
                            <td>
                                www.ebi.ac.uk/ols/ontologies/&lt;ontology name&gt;/terms?iri=&lt;term =IRI&gt;
                            </td>
                            <td>
                                <a href="//www.ebi.ac.uk/ols/ontologies/go/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FGO_0007610">www.ebi.ac.uk/ols/ontologies/go/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FGO_0007610</a> (Note that the live URL is currently for the beta site)
                            </td>

                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                www.ebi.ac.uk/ols/ontologies/&lt;ontology name&gt;/terms?short_form=&lt;term shortform&gt;
                            </td>
                            <td>
                                <a href="//www.ebi.ac.uk/ols/ontologies/go/terms?short_form=GO_0007610">www.ebi.ac.uk/ols/ontologies/go/terms?short_form=GO_0007610</a> (Note that the live URL is currently for the beta site)
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                www.ebi.ac.uk/ols/ontologies/&lt;ontology name&gt;/terms?obo_id=&lt;term obo id&gt;
                            </td>
                            <td>
                                <a href="//www.ebi.ac.uk/ols/ontologies/go/terms?obo_id=GO:0007610">www.ebi.ac.uk/ols/ontologies/go/terms?obo_id=GO:0007610</a> (Note that the live URL is currently for the beta site)
                            </td>
                        </tr>
                    </table>


                    <h3>Using the OLS API</h3>

                    <h4></h4>
                    <p>The old OLS API was built around SOAP, the WSDL for this service is described <a hre="http://www.ebi.ac.uk/ontology-lookup/OntologyQuery.wsdl">http://www.ebi.ac.uk/ontology-lookup/OntologyQuery.wsdl</a>. The new OLS
                        API is built around REST principles where individual resources are identified by URLs. You can find detailed documentation of the new OLS REST API <a href="">here</a></p>

                    <h4>Migrating from SOAP API methods to the new REST API</h4>

                    <table>
                        <tr>
                            <th>
                                SOAP method
                            </th>
                            <th>
                                Equivalent REST query
                            </th>
                        </tr>
                        <tr>
                            <td>getAllTermsFromOntologyRequest</td>
                            <td>api/ontologies/{ontology name}/terms</td>
                        </tr>
                        <tr>
                            <td>getOntologyLoadDateRequest</td>
                            <td>api/ontologies/{ontology name}</td>
                        </tr>
                        <tr>
                            <td>getOntologyNamesRequest</td>
                            <td>api/ontologies</td>
                        </tr>
                        <tr>
                            <td>getPrefixedTermsByNameRequest</td>
                            <td>api/search?q=</td>
                        </tr>
                        <tr>
                            <td>getRootTermsRequest</td>
                            <td>api/ontologies/{ontology name}/terms/roots</td>
                        </tr>
                        <tr>
                            <td>getTermByIdRequest</td>
                            <td>api/ontologies/{ontology name}/terms?obo_id=</td>
                        </tr>
                        <tr>
                            <td>getTermChildrenRequest</td>
                            <td>api/ontologies/{ontology name}/terms/{term IRI}/children</td>
                        </tr>
                        <tr>
                            <td>getTermMetadataRequest</td>
                            <td>api/ontologies/{ontology name}/terms?obo_id=</td>
                        </tr>
                        <tr>
                            <td>getTermParentsRequest</td>
                            <td>api/ontologies/{ontology name}/terms/{term IRI}/parents</td>
                        </tr>
                        <tr>
                            <td>getTermRelationsRequest</td>
                            <td>api/ontologies/{ontology name}/terms?obo_id=</td>
                        </tr>
                        <tr>
                            <td>getTermsByAnnotationDataRequest</td>
                            <td>api/search?q={query}&fl='annotation_{field name}'</td>
                        </tr>
                        <tr>
                            <td>getTermsByNameRequest</td>
                            <td>api/search?q={query}&fl=label</td>
                        </tr>
                        <tr>
                            <td>getTermXrefsRequest</td>
                            <td>api/search?q={query}&fl='annotation_{xref field name}'</td>
                        </tr>
                        <tr>
                            <td>isObsoleteRequest</td>
                            <td>api/ontologies/{ontology name}/terms?obo_id=</td>
                        </tr>
                    </table>

                    <h4>Migrating from OLS Ajax API methods to the new Search API</h4>

                    <table>
                        <tr>
                            <th>
                                Ajax call
                            </th>
                            <th>
                                Equivalent REST query
                            </th>
                        </tr>
                        <tr>
                            <td>ajax.view?q=termmetadata&termid={id}&ontologyname={ontology name}</td>
                            <td>api/ontologies/{ontology name}/terms?obo_id={id}</td>
                        </tr>
                        <tr>
                            <td>ajax.view?q=termautocomplete&termname={label}&ontologyname={short name}</td>
                            <td>api/select?q={label}&ontology_name={short name}</td>
                        </tr>
                        <tr>
                            <td>ajax.view?q=termname&termid={id}&ontologyname={ontology name}</td>
                            <td>api/ontologies/{ontology name}/terms?obo_id={id}</td>
                        </tr>
                    </table>

                </section>


            </div>



        </div>
    </div>

    <footer>
        <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
        <!--
        <div id="local-footer" class="grid_24 clearfix">
          <p>How to reference this page: ...</p>
        </div>
        -->
        <!-- End optional local footer -->

        <div id="global-footer" class="grid_24 clearfix">

            <nav id="global-nav-expanded">

                <div class="grid_4 alpha">
                    <h3 class="embl-ebi"><a href="//www.ebi.ac.uk/" title="EMBL-EBI">EMBL-EBI</a></h3>
                </div>

                <div class="grid_4">
                    <h3 class="services"><a href="//www.ebi.ac.uk/services">Services</a></h3>
                </div>

                <div class="grid_4">
                    <h3 class="research"><a href="//www.ebi.ac.uk/research">Research</a></h3>
                </div>

                <div class="grid_4">
                    <h3 class="training"><a href="//www.ebi.ac.uk/training">Training</a></h3>
                </div>

                <div class="grid_4">
                    <h3 class="industry"><a href="//www.ebi.ac.uk/industry">Industry</a></h3>
                </div>

                <div class="grid_4 omega">
                    <h3 class="about"><a href="//www.ebi.ac.uk/about">About us</a></h3>
                </div>

            </nav>

            <section id="ebi-footer-meta">
                <p class="address">EMBL-EBI, Wellcome Trust Genome Campus, Hinxton, Cambridgeshire, CB10 1SD, UK &nbsp; &nbsp; +44 (0)1223 49 44 44</p>
                <p class="legal">Copyright &copy; EMBL-EBI 2013 | EBI is an outstation of the <a href="http://www.embl.org">European Molecular Biology Laboratory</a> | <a href="/about/privacy">Privacy</a> | <a href="/about/cookies">Cookies</a> | <a href="/about/terms-of-use">Terms of use</a></p>
            </section>

        </div>

    </footer>

</div>


<!--<script>-->
<!--$(document).ready(function() {-->
<!--$('ontology-table').bootstrapTable(-->
<!--{locale:'en-UK', search: true}-->
<!--);-->
<!--});-->
<!--</script>-->

<script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/cookiebanner.js"></script>
<script defer="defer" src="//www.ebi.ac.uk/web_guidelines/js/foot.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69391170-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>