:root {
  --ols_orange: #ffac1b;
  --ols_green: #00827c; }

#mainpageSearchBox {
  margin-top: 30px;
  margin-bottom: 30px;
  background: #F0F0F0;
  padding: 35px 35px 35px 35px;
  border-radius: 5px; }

/*
#mainpageSearchBox .form-control {
    width:80%;
    display: inline-block;
}*/
#dataContentDiv {
  margin-top: 30px; }

/* search button css */
.searchButton {
  margin-left: 7px;
  margin-bottom: 0;
  line-height: 0.88em;
  position: relative;
  vertical-align: top; }

/* Next/Prev button */
a.pagingButton {
  display: inline-block;
  /* padding: 8px 14px 6px 14px; */
  padding: 9px 15px 7px 15px;
  background-color: #00827c;
  /* border: 1px solid /**/
  /* #ddd */
  /* rgb(0, 130, 124); */
  color: white;
  border-radius: 0.8em;
  border-bottom: none; }

/* Overwritting padding that comes from global ebi css */
#ontologiesTable_paginate .pagination .current {
  padding: 0 !important; }

#ontologiesTable_paginate a, a:visited {
  border-bottom-width: 0;
  border-bottom-style: none; }

/*
#ontologiesTable_paginate a, a:hover {
    color: #015666;
}
 */
#ontologiesTable_paginate .paginate_button .current {
  background: transparent; }

#ontologiesTable td {
  vertical-align: top !important; }

/* Search Page */
#filterBox {
  margin-top: 8px;
  border-radius: 9px;
  padding-top: 12px;
  padding-right: 18px;
  padding-left: 18px;
  background: rgba(0, 124, 130, 0.2); }

.filterbox-header {
  color: #00827c; }

.button.secondary.filterbox-button, .button.secondary.searchButton {
  background-color: #00827c;
  border-radius: 6px; }

fieldset {
  min-width: 0; }

#filter_form .input-group {
  display: flex; }

#filter_form .checkbox-inline {
  margin-right: 24px; }

#search-results {
  margin-top: 1.5rem;
  /* padding-left: 30px */ }

#search-results > section {
  margin-bottom: 2rem; }

#search-results-summary {
  padding-left: 10px; }

.search-results-count {
  font-style: italic;
  /* display: inline-block; */
  padding: 0 0.5rem; }

.search-results-count span {
  font-style: italic;
  font-weight: bold; }

.search-results-header {
  margin-bottom: 0; }

.search-results-top-navbar {
  text-align: left;
  margin-bottom: 2.33rem; }

.search-results-bottom-navbar {
  text-align: left;
  margin-top: 3rem; }

.search-results-url {
  color: dimgrey;
  font-size: 88%; }

#bloodhound {
  padding-bottom: 8px; }

span.twitter-typeahead:first-child .form-control.typeahead.tt-input {
  border-radius: 4px; }

a.nounderline.ontology-link {
  color: #00827c; }

.select2-container .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  white-space: normal; }

/**/
#termPageSearchBox {
  display: inline; }

#bloodhound {
  display: flex; }

#bloodhound .form-control.typeahead {
  margin: 0; }

.source-wrapper {
  color: white;
  display: inline-block;
  margin-top: -5px;
  margin-right: 4px;
  margin-left: 4px; }

.decoy {
  display: inline-block;
  margin: 0 0.2rem; }

#exact-id, #obsolete-id {
  margin-right: 4px; }

/********Search page new css tries********/
.static_search_ontology_badge {
  display: inline;
  margin-left: 20px; }

.search_sub_result {
  margin-bottom: 20px; }

.search_static_ontology {
  font-size: smaller;
  color: #ddd; }

.search-results-label {
  font-size: x-large; }

/*Ontology View*/
.panel {
  border: solid 1px #F0F0F0; }

#ontology_info_box .panel-heading {
  background: #00827c;
  text-align: center; }

#ontology_info_box .panel-heading h4 {
  color: white; }

#ontology_info_box .panel-body {
  padding: 10px 10px 10px 10px; }

#onto-tab-content .tabs-content {
  min-height: 500px;
  margin-bottom: 40px; }

#bloodhound .twitter-typeahead {
  width: inherit; }

input[type="search"].select2-search__field {
  margin-bottom: 0; }

/* Term page */
#right_info_box .panel-heading {
  background: #00827c;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  padding-bottom: 0.05rem; }

.panel-heading .toggle {
  cursor: pointer;
  float: right;
  margin-right: 0.4rem; }

#right_info_box .panel-heading h4 {
  color: white; }

#right_info_box .panel-body {
  padding: 10px 10px 10px 10px; }

#terms-tab-content .tabs-content {
  min-height: 500px; }

#termPageSearchBox {
  margin-top: 10px; }

#termPageSearchBox .twitter-typeahead {
  width: 100%; }

/*
#termPageSearchBox .twitter-typeahead {
    width: 70%;
}*/
#termPageSearchBox .button {
  vertical-align: top; }

.copyButton {
  vertical-align: baseline;
  cursor: pointer;
  margin-left: 10px; }

/* Adding some space on the term page*/
.breadcrumbDiv {
  margin-top: 10px; }

#tree_tab_button_box {
  float: right;
  padding-top: 5px; }

#showSliblingsButton {
  min-width: 120px; }

/* generic marginTop class */
.marginTop {
  margin-top: 20px;
  padding-left: 13px; }

/* Additional style for the graphview - copy/paste for now from foundation button secondary css */
.ols-graphview-button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #777;
  color: #fefefe; }

#tree-tab {
  position: relative; }

.ols-tree-buttons {
  background-color: white;
  padding-top: 5px;
  padding-right: 5px;
  position: absolute;
  top: 0;
  right: 0; }

.ols-tree-buttons .toggle {
  float: right;
  padding: 4px;
  padding-top: 0;
  cursor: pointer;
  font-weight: bold; }

.ols-tree-button {
  display: block;
  margin: 0 0 2px 0;
  width: 10rem;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #777;
  color: #fefefe; }

.awesomplete {
  vertical-align: top;
  width: 160px; }

/* maintenance page css*/
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

/* Main content area: adjust margins */
#content {
  padding-top: 12px;
  padding-left: 12px; }

/* Search Box stuff(?) */
.checkbox-inline {
  margin-top: -20px; }

.badge {
  min-width: 7px;
  padding: 5px 7px 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #007c82;
  border-radius: 10px;
  float: right; }

.list-group {
  margin-bottom: 20px; }

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100%;
  text-align: left; }

button.list-group-item {
  cursor: pointer; }

button.list-group-item:hover, button.list-group-item:focus {
  background-color: rgba(0, 124, 130, 0.3); }

.filter-type {
  vertical-align: middle; }

.filterBoxes .select2-selection {
  width: 100%;
  /* height: 40px; */
  margin: -0.2rem auto auto; }

.select2-search__field {
  margin-top: 0 !important; }

#clearFilters {
  float: right;
  margin-top: 10px; }

#mainSearchDiv {
  margin-top: 40px;
  margin-bottom: 0;
  /* padding-left:150px; */ }

#mainSearchDiv .twitter-typeahead {
  width: 80%; }

/* Styling for code part in the documentation */
.highlight {
  padding-left: 50px;
  margin-left: 20px;
  margin-right: 50px;
  background-color: #F2F2EC;
  border-color: #999; }

/* keywords - default cyan */
.keyword {
  color: #007777; }

.comment {
  color: green; }

.some {
  color: #770077; }

.only {
  color: #770077; }

.value {
  color: #770077; }

.min {
  color: #770077; }

.max {
  color: #770077; }

.exactly {
  color: #770077; }

.ObjectProperty {
  font-style: italic; }

.synonym {
  padding: 0.125rem 0.3125rem 0.0625rem;
  border: 1px solid #777;
  background-color: #e6e6e6;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: #0a0a0a; }

.part_of:before {
  content: "";
  display: block;
  background: url("../img/part_of.gif") no-repeat;
  width: 15px;
  height: 15px;
  float: left;
  margin: 4px 6px 0 2px; }

/* Modify classes from ebi-global.css */
.breadcrumbs {
  padding-left: 13px;
  font-size: 0; }
  .breadcrumbs > * {
    font-size: 1rem; }
  .breadcrumbs > li {
    height: 100%;
    vertical-align: middle;
    font-size: 0.84rem;
    text-transform: none; }
    .breadcrumbs > li:not(:last-child)::after {
      margin: 0 0.4rem; }

[type="search"], [type="search"]:focus {
  box-shadow: none;
  transition: none; }

div.row {
  padding-top: 13px;
  padding-left: 13px; }

[type="text"]:focus {
  border: 1px solid #00827c;
  box-shadow: 0 0 7px rgba(0, 130, 124, 0.7); }

.term-source {
  font-size: 1rem;
  position: relative;
  color: white;
  display: inline-block;
  margin-top: 0.25em;
  margin-right: 1.25em;
  margin-bottom: 0.125em;
  margin-left: 1.25em;
  z-index: 2; }
  .term-source::before {
    content: "";
    position: absolute;
    top: -0.25em;
    right: -0.625em;
    bottom: -0.125em;
    left: -0.625em;
    background-color: var(--ols_orange);
    border-radius: 0.5em;
    z-index: -1; }

a + a > .term-source {
  font-size: 1rem;
  position: relative;
  color: white;
  display: inline-block;
  margin-top: 0.25em;
  margin-right: 1.25em;
  margin-bottom: 0.125em;
  margin-left: 0.625em;
  z-index: 2; }
  a + a > .term-source::before {
    content: "";
    position: absolute;
    top: -0.25em;
    right: -0.625em;
    bottom: -0.125em;
    left: -0.625em;
    background-color: var(--ols_orange);
    border-radius: 0.5em;
    z-index: -1; }

.term-source-valign {
  font-size: 1em;
  position: relative;
  color: white;
  display: inline-block;
  margin-top: 0em;
  margin-right: 0.625em;
  margin-bottom: 0em;
  margin-left: 0.625em;
  z-index: 2; }
  .term-source-valign::before {
    content: "";
    position: absolute;
    top: -0.25em;
    right: -0.625em;
    bottom: -0.125em;
    left: -0.625em;
    background-color: var(--ols_orange);
    border-radius: 0.5em;
    z-index: -1; }

a + a > .term-source-valign {
  font-size: 1em;
  position: relative;
  color: white;
  display: inline-block;
  margin-top: 0em;
  margin-right: 0.625em;
  margin-bottom: 0em;
  margin-left: 0em;
  z-index: 2; }
  a + a > .term-source-valign::before {
    content: "";
    position: absolute;
    top: -0.25em;
    right: -0.625em;
    bottom: -0.125em;
    left: -0.625em;
    background-color: var(--ols_orange);
    border-radius: 0.5em;
    z-index: -1; }

.ontology-source {
  font-size: 1rem;
  position: relative;
  color: white;
  display: inline-block;
  margin-top: 0.25em;
  margin-right: 1.25em;
  margin-bottom: 0.125em;
  margin-left: 1.25em;
  z-index: 2; }
  .ontology-source::before {
    content: "";
    position: absolute;
    top: -0.25em;
    right: -0.625em;
    bottom: -0.125em;
    left: -0.625em;
    background-color: var(--ols_green);
    border-radius: 0.5em;
    z-index: -1; }

a + a > .ontology-source {
  font-size: 1rem;
  position: relative;
  color: white;
  display: inline-block;
  margin-top: 0.25em;
  margin-right: 1.25em;
  margin-bottom: 0.125em;
  margin-left: 0.625em;
  z-index: 2; }
  a + a > .ontology-source::before {
    content: "";
    position: absolute;
    top: -0.25em;
    right: -0.625em;
    bottom: -0.125em;
    left: -0.625em;
    background-color: var(--ols_green);
    border-radius: 0.5em;
    z-index: -1; }

.ontology-source-valign {
  font-size: 1em;
  position: relative;
  color: white;
  display: inline-block;
  margin-top: 0em;
  margin-right: 0.625em;
  margin-bottom: 0em;
  margin-left: 0.625em;
  z-index: 2; }
  .ontology-source-valign::before {
    content: "";
    position: absolute;
    top: -0.25em;
    right: -0.625em;
    bottom: -0.125em;
    left: -0.625em;
    background-color: var(--ols_green);
    border-radius: 0.5em;
    z-index: -1; }

a + a > .ontology-source-valign {
  font-size: 1em;
  position: relative;
  color: white;
  display: inline-block;
  margin-top: 0em;
  margin-right: 0.625em;
  margin-bottom: 0em;
  margin-left: 0em;
  z-index: 2; }
  a + a > .ontology-source-valign::before {
    content: "";
    position: absolute;
    top: -0.25em;
    right: -0.625em;
    bottom: -0.125em;
    left: -0.625em;
    background-color: var(--ols_green);
    border-radius: 0.5em;
    z-index: -1; }

.jstree-proton {
  font-family: Helvetica, Arial, FreeSans, 'Liberation Sans', sans-serif !important; }

.jstree-hovered {
  background: #6dadab !important;
  box-shadow: inset 0 0 1px #6dadab !important; }

.jstree-clicked {
  background: #00938d !important;
  box-shadow: inset 0 0 1px #00938d !important; }

.jstree-proton * {
  transition: none !important; }

.icheck-belizehole > input:first-child:not(:checked):not(:disabled):hover + label::before,
.icheck-belizehole > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
  border-color: #00827c !important; }

.icheck-belizehole > input:first-child:checked + label::before,
.icheck-belizehole > input:first-child:checked + input[type="hidden"] + label::before {
  background-color: #00827c !important;
  border-color: #00827c !important; }

#ontologiesTable a, #ontologiesTable a:visited {
  color: #00827c; }

#ontologiesTable a:hover {
  color: #00938d; }

.tabs-content {
  overflow: auto; }

.toggle-hide {
  display: none; }

#docs-content h1 {
  color: black !important; }

/*# sourceMappingURL=new_ols.css.map */