
/**
 *  search results
 **/

/**
* wrap words for select3
*/
.select2-selection--single {
  height: 100% !important;
}
.select2-selection__rendered{
  word-wrap: break-word !important;
  text-overflow: inherit !important;
  white-space: normal !important;
}
/****/

.examples {
  margin-left: 0.2em;
}
.search-results-count {
  font-style: italic;
}

.search-results-count span {
  font-style: italic;
  font-weight: bold;
}

#search-results {
  padding:9px;
}
.search-results-label {
  font-size: larger;
  font-weight: bold;
}

.search-results-url {
  font-size: smaller;
  color: grey;
}

h3 {
  color: #BFA070;
}

th {
  color: white;
}

.info-box {
  float:right;
}
.ontology-source{
  background-color: #5FBDCE;
  padding:2px;
  padding-right:4px;
  color: white;
  /*font-size: larger;*/
  border-radius: 3px;
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}

a .ontology-source {
  background-color: #5FBDCE;
  padding:2px;
  padding-right:4px;
  color: white;
  /*font-size: larger;*/
  border-radius: 3px;
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
  border-bottom: none;
}

.term-source{
  background-color: #ffac1b;
  padding:2px;
  padding-right:4px;
  color: white;
  /*font-size: larger;*/
  border-radius: 3px;
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}

/*.ontology-source:hover {*/
/*box-shadow: 5px 5px 2px #888888;*/
/*}*/

.loaded{
  background-color: #00bf00;
  padding:2px;
  padding-right:4px;
  color: white;
  border-radius: 3px;
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}

.failed, .notloaded, .obsolete {
  background-color: #fa0000;
  padding:2px;
  padding-right:4px;
  color: white;
  border-radius: 3px;
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.bootstrap-alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert-heading {
  color: inherit;
}

.bootstrap-alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}


/*
* css for buttons on term page, overwriting size stuff so the buttons are correctly sized
*/

.special{
  width: 130px !important;
  height: 42px !important;
}

/* Add a pointer/cursor to the button of the search page*/

#prev-button, #next-button{
  cursor:pointer;
}


/**
  * autocomplete css
*/

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.part_of:before {
  content: "";
  display: block;
  background: url("../img/part_of.gif") no-repeat;
  width: 15px;
  height: 15px;
  float: left;
  margin: 4px 6px 0 0;
}

.ontology-suggest{
  padding:2px;
  font-size: larger;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.suggestion-value {
  text-overflow: ellipsis;
  font-size: smaller;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.sub-text {
  color: #999;
  font-size: x-small;
  font-weight: normal;
}

.jstree-proton {
  font-family: Verdana,sans-serif;
}

.jstree-anchor {
  white-space: normal;
  height: auto ! important;
}
.jstree-default .jstree-anchor {
  height: auto ! important;
}
.panel-body  {
  word-break: break-word;
}

/* keywords - default cyan */
.keyword {color: #007777;}
.comment {color: green;}
.some {color: #770077;}
.only {color: #770077;}
.value {color: #770077;}
.min {color: #770077;}
.max {color: #770077;}
.exactly {color: #770077;}

.ObjectProperty {
  font-style: italic;
}